<h1>Count is: 
  <span *ngIf="isEven">{{ count }} 
    <span>another span</span>
  </span>
</h1>
<!--display the names in a list-->
<ol>
  <!-- the name/item is the variable to print to the screen with {{ }}-->
  <!-- iterating through the array of names setting individuals to name/item 1 at a time-->
  <li *ngFor="let item of names">{{item}}</li>
</ol>

<button (mouseover)="incrementCount()">mouse over to increment</button>
<button (click)="randomIncrementOneAnd10()">Click to increment betwen 1 and 10</button>