body{
    background-color: blueviolet;
    background-image: url("https://wishesndishes.com/images/2013/10/Dark-Chocolate-Chip-Skillet-Cookie-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
} 

