<div class="box box-default">
  <div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded" *ngFor='let use of users'>
    <div>
      {{ use.uid}}
    </div>
    <div>
      {{ use.fname }}
    </div>
    <div>
      {{ use.lname }}
    </div>
    <div>
      {{ use.email }}
    </div>
    <div>
      {{ use.posid }}
    </div>
  




  

  </div>

  <div class="col center-block text-center">
      <button class="btn btn-outline-success shadow-lg p-3 mb-5 bg-white rounded" routerLink = '/Manager'>Home</button>
    </div>

</div>



{{clickMessage}}



