#bgrootdrake {
    background-image: url(https://www.publicdomainpictures.net/pictures/50000/t2/city-skyline-at-night.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: 100% 100%;
}