<div class="form-group">
  <label for="email">Email</label>
  <div class="form-control">kjhfa@lkafj.com</div>
  <label for="password">Password</label>
  <input type="password" #password class="form-control">
  <label for="fname">First name</label>
  <input type="text" class="form-control" #fname placeholder="{{logged.fname}}">
  <label for="lname">Last name</label>
  <input type="text" class="form-control" #lname placeholder="{{logged.lname}}">
  <button>update</button>
  <!-- <button (click)="updateUser(kjhfa@lkafj.com, password.value, fname.value, lname.value)">Update User</button> -->
</div>
