
/* 
For register page
*/
body {
    background: url("https://c1.staticflickr.com/9/8186/8102625287_73f13dbb1d_b.jpg") no-repeat center center fixed;
    background-size: cover;
}

header {
    max-width: 100%;
    margin: auto;
    font-size: 50px;
    padding: 50px;
    background-color: gray;
    text-align: center;
    opacity: 0.9;
}

/* HTML IDs */

#registerForm {
    border: 1px solid black;
    max-width: 500px;
    margin: auto;
    padding: 20;
    text-align: center;
    background-color: white;
}
