<app-managernavbar></app-managernavbar>
<table id='reimbursements' class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">Submission Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = 'let r of reims'>
      <th scope="row">{{r.rId}}</th>
      <td>{{r.description}}</td>
      <td>{{r.rqType}}</td>
      <td>{{r.amt}}</td>
      <td>{{r.rqStatus}}</td>
      <td>{{r.timesubmission | date: 'short'}}</td>
    </tr>

  </tbody>
</table>