<!-- The nav tag defines a set of navigation links
      For example, A Navbar-->
     
        
      
      <nav>
        <ul>
          <li>
              <a routerLink="login">
                <!--The i tag is for italics-->
                <span class="material-icons">Login</span>
              </a>
            </li>
          <li>
            <a routerLink="employee-homepage">
              <!--The i tag is for italics-->
              <span class="material-icons">Home</span>
            </a>
          </li>
          <li> <!--  ng-if="loggedUserService.loggeduser.posId == 1"-->
            <a routerLink="manager-homepage">
              <!--The i tag is for italics-->
              <span class="material-icons">Manager Home</span>
            </a>
          </li>
          <li>
            <!--The part after routerlink= is what page it will go to-->
            <a routerLink="reimbursements">
              <!--The i tag is for italics-->
              <span class="material-icons">Reimbursements</span>
            </a>
          </li>
          <li>
              <a routerLink="update">
                <!--The i tag is for italics-->
                <span class="material-icons">Update Profile</span>
              </a>
            </li>
            <li>
                <a href="/">
                  <!--The i tag is for italics-->
                  <span class="material-icons">Logout</span>
                </a>
              </li>
        </ul>
        
      </nav>
    

