<!-- The nav tag defines a set of navigation links
      For example, A Navbar-->
     
        
      
      <nav>
        <ul>
          <li>
            <a routerLink="employee-homepage">
              <!--The i tag is for italics-->
              <i class="material-icons">Home</i>
            </a>
          </li>
          <li>
            <!--The part after routerlink= is what page it will go to-->
            <a routerLink="posts">
              <!--The i tag is for italics-->
              <i class="material-icons">Reimbursements</i>
            </a>
          </li>
          <li>
              <a routerLink="login">
                <!--The i tag is for italics-->
                <i class="material-icons">Login</i>
              </a>
            </li>
        </ul>
      </nav>
    

