<!-- The nav tag defines a set of navigation links
      For example, A Navbar-->
      <nav>
        <ul>
          <li>
            <a routerLink="Employees">
              <!--The i tag is for italics-->
              <i class="material-icons">Employees</i>
            </a>
          </li>
          <li>
            <!--The part after routerlink= is what page it will go to-->
            <a routerLink="posts">
              <!--The i tag is for italics-->
              <i class="material-icons">message</i>
            </a>
          </li>
        </ul>
      </nav>
