.list-group {
    background-image : url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/okUindP/christmas-tree-background-cartoon-christmas-background-with-christmas-tree-and-snow-looping-animation_ejhrr4x2__F0000.png");
    margin: auto;
    width: 50%;
    border: 3px solid red;
    padding: 100px;

    
}

.title {
    font-size: 40px;
    color: black;
}

.navbar-brand {
    font-size: 30px;
    color: red;
  
}


.content {
    padding-left: -100px;
    padding-bottom: 100px;
}