/* this is the body css beginning */
body  { background-color: blue;
        background-image:url(https://images.alphacoders.com/647/thumb-1920-647552.jpg);
        background-image:no-repeat;
		background-image:no-repeat;
        background-size:cover;
		height:600px;
		width:1000;
        margin: 50px;
        padding:50px;
        border: 1px solid;
		min-width:700px;
		
		
} /* the body css end here  */

body:hover 
{
	
	/*background-image:url(https://media.giphy.com/media/e2tSgEk1k8Baw/giphy.gif);*/
}
h1 { background-color: yellow;}

li { display:inline;
     background-color: white;
	 text-decoration:none;
	 text-align:center;
	 color:black;
	
	 }
	 
li,a {
	text-decoration:none;
	color:black;
	font-weight:bold;
	}	 
ul{ 
    background-color:white;
	width:inherit;
	height:55px;
	text-align:center;
	text-decoration:none;
	margin:auto;
	padding: 10px;
	padding-bottom:-20;
	opacity: 0.6;
	}	 
	
.nava { 
    list-style-type:none;
    border: 1px solid;
    padding:5px;
	}
.nava:hover
{background-color:yellow;}

#rebel
{opacity:1.0;}

#rowone 
{
  background-color:white;
  float:left;
  padding:20px;
  max-width:300px;
  }

  #rowtwo 
{
  background-color:white;
  float:right;
  padding:20px;
  max-width:300px;
  }
  
  #row 
{
  background-color:white;
  float:right;
  padding:20px;
  max-width:300px;
  margin-right:60px;
  }
  
.fonti{
	display: block;
    font-size: 1.2em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
  
img 
{
	width:199px;
	height:auto;
}

img:hover 
{
	
}

