<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-link {{active[0]}}" (click)='setPending()'>Pending</li>
    <li class="nav-link {{active[1]}}" (click)='setResolved()'>Resolved</li>
    <li class="nav-link {{active[2]}}" (click)='setDenied()'>Denied</li>
</ul>
<div>
    <li *ngFor='let r of reimbursements' class="list-group mw-50" style="width: 60%; margin: auto;">
        <div *ngIf='r.rq_statusId===filter' style="margin-bottom: 5px;">
            <a routerLink='/manager/detail/{{r.rId}}' class="list-group-item list-group-item-action list-group-item-{{style[r.rq_statusId]}}">
                <div>{{r.description}}</div>
                <div>${{r.amount}}</div>
            </a>
        </div>
    </li>
</div>
<div *ngIf="easterEgg"><img src="/src/assets/whyyyy.jpg" alt="No reimbursements"></div>