.container {
    background-image: url("https://i.ebayimg.com/images/i/182716299497-0-1/s-l1000.jpg");
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.img {
    width: 250px;
    height: 400px;
    margin: 30px;
    border: 2px solid black;
}
li {
    color: white;
    list-style-type: none;
    float: left;
    padding-left: 60px;
}
a:hover {
    color: hsl(0, 51%, 14%);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(146, 70, 68);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#home-pic {
  width: 500px;
 height: 350px;
    
}
#login {
    float: right;
}
.subscrbe-frm {
    background-color:rgb(146, 70, 68);
    text-align: center;
    border: 2px solid black;
    width: 500p;
}
#subscribe {
    width: 150px;
    height: 30px;
}
#news {
    height: 120px;
    width: 120px;
}
#subscribe:hover{
    background-color: rgb(90, 81, 81);
}