.container {
    background-image: url("https://i.ebayimg.com/images/i/182716299497-0-1/s-l1000.jpg");
    height: 100%;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.img {
    width: 15em;
    height: 20em;
    margin: 30px;
    border: 2px solid black;
}
li {
    color: white;
    list-style-type: none;
    float: left;
    padding-left: 60px;
}

a:hover {
    color: hsl(0, 51%, 14%);
}
#more-info {
    color: rgb(112, 4, 4);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(146, 70, 68);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#home-pic {
  width: 500px;
 height: 350px;
 border: 2px solid rgb(146, 70, 68);
    
}
#home-info {
    background-color: rgb(146, 70, 68);
    margin-left: 80px;
    margin-right: 80px;
}
#login {
    float: right;
}
.subscrbe-frm {
    background-color:rgb(146, 70, 68);
    text-align: center;
    border: 2px solid black;
    width: 500p;
}
#subscribe {
    width: 150px;
    height: 30px;
}
#news {
    height: 120px;
    width: 120px;
}
#subscribe {
    background-color: rgb(172, 157, 108);
    color: black;
    border: 1px solid black;
}
#subscribe:hover{
    background-color: rgb(214, 200, 137);
}
p {
    color: white;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
h3 {
    color: white;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}
h5 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

#sub-frm {
    margin-left: 80px;
    margin-right: 80px;
}
#news {
    border: 2px solid rgb(146, 70, 68);
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover, .dropdown-content {
    display: block;
}
#login {
    float: right;
    margin-right: 40px;
}
.main-photo {
    width: 200px;
    height: 200px;
    margin-right: 50px;
    margin-left: 50px;
}

.gallery {
    border: 1px solid rgb(156, 156, 156);
    max-width: 200px;
    display: inline;
}
.text {
    padding: 15px;
    text-align: center;
    color: white;
}
img:hover {
    border: 1px solid gold;
}
.text {
    display: inline;
}
#street {
    margin-left: 250px;
}
#landscape {
    margin-left: 130px;
}
#portrait {
    margin-left: 100px;
}
#breadcrumbs {
   margin: 0%;
   padding: 3px;
   color: white;
   font-size: 15px;
   text-align: center;
}
#breadcrumbs:hover {
    color: gold;
}
#second-nav {
    margin-left: 450px;
    margin-right: 450px;
}
.shop-img {
    width: 15em;
    height: 10em;
    margin-right: 50px;
    margin-left: 50px;
    border: 4px solid rgb(99, 67, 67);
}
.shop {
    display: inline;
}
.shop-text {
    display: inline;
}
.items {
    max-width: 150px;
    display: inline;
}
#film {
    margin-left: 120px;
}
#bag {
    margin-left: 160px;
}
#cam {
    margin-left: 190px;
}
#shop-form {
    background-color: rgb(146, 70, 68);
    margin-left: 200px;
    margin-right: 200px;
}
#shop-form {
    margin-left: 300px;
    margin-right: 300px;
    visibility: hidden;
}
#shp-frm {
    text-align: center;
    border: 2px solid black;
}

