
<table id='reimbursements' class="table table-hover table-light">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <th scope="row">{{r.rId}}</th> -->
        <th>???</th>
        <td>need to know basis</td>
        <td>Other</td>
        <td>1,000,000</td>
        <td>pending</td>
      </tr>
  
    </tbody>
  </table>