<div class="container">
  <div class="row" id="text">
    <div class="col">
      Todo List
    </div>
    <div class="col">
      News
    </div>
  </div>
  <div class="row" id="media">
    <div class="col">
      <ul class="list-unstyled">
        <li class="media">
          <img class="mr-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWUwVjgZwJuQVRVGmvW7NG2CYHPSXkNZunMbbiehV4jEKIgq8Z" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Mind Training Schedule</h5>
            Be one with the book!
          </div>
        </li>
        <li class="media my-4">
          <img class="mr-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFWa8RCi_OBwOSDTFIEYf8FpY-IXE4REb6N_R0EjUgrwnMo4YR" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Body Training Schedule</h5>
            Be one with the equipment!
          </div>
        </li>
        <li class="media">
          <img class="mr-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOWS6usKJAsxpNW1TQ4VRtRjk-vpfDU1_e7h4ePm8luVZTgcG0vA" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Trigger Finger Training Schedule</h5>
            Be one with your finger!
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>