/* body{
    background-image: url("https://vignette.wikia.nocookie.net/the-realm-of-the-three-gods/images/2/2a/Two_galaxies.gif/revision/latest?cb=20170110022228");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */