

/* style for body */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/restaurant_icons.png");
   
}

/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #0a1612;
}

/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #c5c1c0;
    text-align: center;
    padding: 14px 16px;
}

/* Change color on hover */

.topnav a:hover {
    background-color: #c5c1c0;
    color: black;
}

/* Style the title content */


.titlecontent {
    background-color: #f7ce3e;
    color: black;
    padding: 40px;
    height: 40px;
    
}

/* styling on the main content */
.mainsection {
    font-size: 15pt;
    max-width: 100%;
    padding: 2px 2px;
    color:  maroon;
    float: center;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}


/* styling for tables */

table, th, td {
    border: 1px solid maroon;
    margin-left: auto;
    margin-right:auto;
}

/* styling for lists */
ol, ul {
display: inline-block;
       margin-left: auto;
       margin-right: auto;
       list-style-position: inside;
}

/* styling for pictures */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width:600px;
    height:400px;
}