img{
    height: 17px;
}

h1{
   text-align: center;
}

form{
    margin: 0;
}

.container{
    width: 60%;
    height: auto;
    margin: auto;
    padding: 10px;
}

.container div {
    margin: auto;
}

.box{
    background-color: white;
    /* margin: 5px;
    margin-bottom: 10px; */
    padding: 5px;
    width: 380px;
    border-style: solid;
    border-color: #fe921f;
}

.sumBtn{
    background-color: #fe921f;
}

#requirements{
    width: 250px;
    margin-top: 10px;
}