img{
    height: 17px;
}
form{
    margin: 0;
}

span{
    text-align: right;
}

.container{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 10px;
}

.box{
    background-color: white;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    width: 380px;
    float:left;
    border-style: solid;
    border-color: #fe921f;
}



.sumBtn{
    background-color: #fe921f;
}

#requirements{
    width: 300px;
}