.review {
    background-color: rgb(233, 161, 27);
    color: grey;
}

div{
    margin-bottom: 20px;
}

h1{
    color: rgb(26, 23, 23); 
    margin: auto;
}

h2{
    color: rgb(26, 23, 23); 
    margin: auto;
}

p{
    color: rgb(26, 23, 23); 
}

.comment{
    text-indent: 40px;
}

textarea{
    width: 100%;
    height: 50px;
}

input{
    background-color: limegreen;
    
    margin-top: 0px;
}