<app-navbar></app-navbar>

<ul  class="nav nav-tabs color" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active color" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All Reimbursements</a>
  </li>
  <li class="nav-item">
    <a class="nav-link color" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Pending Reimbursements</a>
  </li>
  <li class="nav-item">
    <a class="nav-link color" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Resolved Reimbursements</a>
  </li>
  <li class="nav-item">
    <a class="nav-link color" id="reimbursement-tab" data-toggle="tab" href="#reimbursement" role="tab" aria-controls="reimbursement" aria-selected="false">New Reimbursements</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <app-employee-reimbursement></app-employee-reimbursement>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <app-emp-pending-reimbursements></app-emp-pending-reimbursements>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <app-emp-resolved-reimbursements></app-emp-resolved-reimbursements>
  </div>
  <div class="tab-pane fade" id="reimbursement" role="tabpanel" aria-labelledby="reimbursement-tab">
    <app-new-reimbursement></app-new-reimbursement>
  </div>
</div>
