<div class="jumbotron">
    <h1 class="display-4">Welcome To "Better Than Insomnia Cookies"!</h1>
    <p class="lead">Here at "Better Than Insomnia Cookies" we are better than Insomnia cookies because Insomnia cookies won't come to Tampa.</p>
    <hr class="my-4">
    <img src="http://2.bp.blogspot.com/-xOSui0QZh8s/Ta-CbaMPyqI/AAAAAAAAAHI/cV7p7WeduPI/s640/chocolate+cookies+%252821%2529.JPG" alt="">
    <br> <br> <br>
    <p>If you work for Insomnia Cookies and you see this, please come to Tampa</p>
    <p class="lead">
      <button>Press to make Insomnia Cookies come to Tampa</button>
    </p>
  </div>