<div>
    <div id="center">
        <div id="image">
        </div>
    </div>
    <div id="center2">
        <div class="tabs">
            <button mat-raised-button color="primary" routerLink="login">Primary</button>
        </div>
        <div class="tabs">
            <button mat-raised-button color="primary" routerLink="userDash">Secondary</button>
        </div>
        <div class="tabs">
            <button mat-raised-button color="primary" routerLink="cart">Third</button>
        </div>
        <div class="tabs">
            <button mat-raised-button color="primary" routerLink="recipe">Fourth</button>
        </div>
    </div>
</div>