#image {
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/textured_paper.png);
}

#center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 8in;
    height: 6in;
}

#center2 {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 9in;
    width: 1in;
    height: 6in;
    z-index: -6;
    display: block;
}

.tabs {
    position: relative;
}
.tabs {
    position: relative;
}
.tabs {
    position: relative;
}
.tabs {
    position: relative;
}

/* Button */
.mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    margin-right: 0px;
    min-width: 0.8in;
    line-height: 1.5in;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

/* Image */
.logo {
    margin-left: 150px;
    margin-top: -8px;
    right: 4px;
    top: -9px;
    width: 792px;
    height: 619px;
    display: block;
    background:url('../../../assets/Images/openbook.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    z-index: -5;
}
