<div>
    <!--
         Div for picture -->
    <div id="center">
        <div id="image">
        </div>
    </div>
    <!-- 
        Div for buttons
     -->
    <div id="center2">
        <div class="tabs">
            <a routerLink="/home">
                <button mat-raised-button color="primary">Home</button>
            </a>
        </div>
        <div class="tabs">
                <a routerLink="/recipe">
                    <button mat-raised-button color="primary" >Recipe</button>
                </a>
            </div>
        <div class="tabs">
            <button mat-raised-button color="primary" routerLink="cart">Third</button>
        </div>
        <div class="tabs">
            <button mat-raised-button color="primary" routerLink="recipe">Fourth</button>
        </div>
    </div>
    <!-- Book Image -->
    <a class=logo></a>
</div>