<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/info">Dweller</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/reimb/info">Reimbursement Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/reimb/pending">Pending Reimbursements</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="reimb/approved">Approved Reimbursements</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="/reimb/denied">Denied Reimbursements</a>
  </li>
</ul>
