<div class="container">
  <div class="navbar navbar-dark bg-dark">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/info" *ngIf='user.pos_Id === 1'>Overseer</a>
        <a class="nav-link active" routerLink="/info" *ngIf='user.pos_Id === 2'>Dweller</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/update">Update Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reimb/info" *ngIf='user.pos_Id === 1'>All Reimbursement Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reimb">Reimbursements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reimb/pending">Pending Reimbursements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="reimb/approved">Approved Reimbursements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reimb/denied">Denied Reimbursements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reimb/create">Submit Reimbursement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</div>