<div class="form-group">
  <label for="email">Email</label>
  <div class="form-control">{{user.email}}</div>
  <label for="password">Password</label>
  <input type="password" #password class="form-control">
  <label for="fname">First name</label>
  <input type="text" class="form-control" #fname placeholder="{{user.fname}}">
  <label for="lname">Last name</label>
  <input type="text" class="form-control" #lname placeholder="{{user.lname}}">
  <button (click)="updateUser(password.value, fname.value, lname.value)">Update User</button>
  <div *ngIf='successful'>successful</div>
</div>
