.main {
    align-content: center;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    width: 50%;
    background: whitesmoke;
}
/* .pokemonBattleImg {
    width: 15%;
} */

body {
    background-color: lavender;
}