<div id="background">
<br>
<br>
<h1>Welcome Home {{ final.firstname }} </h1>
<div id="sidenav">
        <a routerLink="/manager" id="link">Home</a>
        <a routerLink="/agents" id="link">Employee</a>
        <a routerLink = "/agent/missions" id="link">Missions</a>
        <a routerLink = "/reimbursements" id="link">Mission Reimbursements</a>
        <a routerLink = "/logout" id="link">Logout</a>
        </div>
        <!-- <img  src = "../Archer/archer id.jpg"> -->
        <div id="img"></div>
</div>