<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS</display-name>
  <servlet>
    <description></description>
    <display-name>AllReimbServlet</display-name>
    <servlet-name>AllReimbServlet</servlet-name>
    <servlet-class>com.revature.servlets.AllReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllReimbServlet</servlet-name>
    <url-pattern>/reimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpployeeServlet</display-name>
    <servlet-name>EmpployeeServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmpployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpployeeServlet</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
</web-app>