<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS</display-name>
  <servlet>
    <description></description>
    <display-name>AllReimbursementsServlet</display-name>
    <servlet-name>AllReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.servlets.AllReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllReimbursementsServlet</servlet-name>
    <url-pattern>/AllReimbursementsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentationServlet</display-name>
    <servlet-name>DocumentationServlet</servlet-name>
    <servlet-class>com.revature.servlets.DocumentationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentationServlet</servlet-name>
    <url-pattern>/DocumentationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeReimbursementsServlet</display-name>
    <servlet-name>EmployeeReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeReimbursementsServlet</servlet-name>
    <url-pattern>/EmployeeReimbursementsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllEmployeesServlet</display-name>
    <servlet-name>GetAllEmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmployeesServlet</servlet-name>
    <url-pattern>/GetAllEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>