/*
    login.css: styles for the login page/component
*/

/*
    HTML Elements
*/
body {
    background-image: url("https://i.ytimg.com/vi/FF2bhR7s3VY/maxresdefault.jpg");
    background-size: cover;
}

header {
    /* to center an element */
    max-width: 100%;
    margin: auto;

    font-size: 35px;
    background-color: rgba(94, 94, 94, 0.5);
    text-align: center; /* center text */
    padding: 15px;
}

/* HTML IDs */

#registrationForm {
    color: black;
    background-color: #fff;
    border: 2px dotted darkgreen;
    font-weight: bold;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

/* #loginBody {
    background-image: url("https://i.ytimg.com/vi/FF2bhR7s3VY/maxresdefault.jpg");
} */

.register-btn {
    font-size: 20px;
    color: #fff;
    background-color: #4CAF50;
    min-width: 450px;
    height: 35px;
}

.register-btn:hover {
    color: #fff;
    background-color: #333;
}