<div class="jumbotron">
  <h1 class="display-4">NEW REIMBURSEMENT REQUEST:</h1>
  

  <div class="input-group mb-3 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">ENTER YOUR EMPLOYEE ID: </span>
    </div>
    <input class="form-control" type="number" name="empuid" id="empuid" #empuid placeholder="ENTER YOUR EMPLOYEE ID:">
  </div>

  <div class="input-group mb-3 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">ENTER YOUR SUPERVISOR'S ID:</span>
    </div>
    <input class="form-control" type="number" name="mgruid" id="mgruid" #mgruid placeholder="ENTER YOUR SUPERVISOR'S ID:">
  </div>

  <div class="input-group mb-3 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">ENTER TOTAL AMOUNT:</span>
    </div>
    <input class="form-control" type="number" name="amt" id="amt" #amt placeholder="ENTER TOTAL AMOUNT ($00.00)">
  </div>

  <div class="input-group mb-3 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">ENTER A DESCRIPTION</span>
    </div>
    <input class="form-control" type="text" name="description" id="description" #description placeholder="ENTER A DESCRIPTION:">
  </div>

  <div class="input-group mb-3 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">UPLOAD YOUR RECEIPT</span>
    </div>
    <input type="text" class="form-control" placeholder="This feature is not working yet!">
  </div>

  <div class="input-group mb-3 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">ENTER REQUEST TYPE ID:</span>
    </div>
    <input type="text" class="form-control" placeholder="1)Meals 2)Lodging 3)Travel 4)Supplies 5) Misc." id="rqtypeid" #rqtypeid>
  </div>


  <hr class="my-4">
  <p>For any questions or concerns please contact your supervisor</p>
  <div class="row">
    
      <div class="col"><button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/Manager">HOME</button></div>

    <div class="col">
      <button class="btn btn-success btn-lg" type="submit" (click)='submitNewReimbursement(empuid.value, mgruid.value, amt.value, description.value, rqtypeid.value)'>Submit
        Reimbursement</button>
    </div>
  


  {{clickMessage}}

</div>


