/*
    css for the login component
*/

header{
    font-size: 35px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.562);
    padding: 20px;
}
#loginBody{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/51/49/735791be81aff4a.jpg");
}
#loginForm {
    min-width: 200px;
    border: 2px solid rgba(0, 0, 0, 0.445);
    margin-top: 1px;

    /*
        use max-width & marin: auto to center
    */
    max-width: 500px;
    margin: auto; 

    padding: 10px;
    padding-top: 15px;
    text-align: center;
    background-image: none;
    background-color: white;

}

#loginBtn {
    /* max-width: 100px; */
    min-width: 100px;
    background-color: rgba(40, 168, 125, 0.5);
    font-size: 20px;
}
#loginBtn:hover {
    min-width: 100px;
    background-color: rgba(168, 40, 40, 0.5);
    font-size: 20px;

}