.form {
    color: darkred;
    font-size: 16px;
    background-image : url("http://www.pptback.com/uploads/light-colour-xmas-backgrounds-powerpoint.jpg");
    margin: auto;
    width: 50%;
    border: 3px solid darkred;
    margin-top: 5%;
}

#inputs {
    margin: auto;
    padding: 10%;
    font-size: 30px;
}
.input profileInput {
    color:forestgreen;
    border-color: darkred;
    
}
/* #editProfileBtn {
    color:forestgreen;
border-color: darkred;
margin: auto;
height: 35px;
width: 50%;
}  */

.formBtn {
    color:white;
    background-color: forestgreen;
    margin: auto;
    height: 45px;
    width: 95%;
}

.formBtn:hover {
    color:white;
    background-color: darkred;
    margin: auto;
    height: 45px;
    width: 95%;
}

