<div class="jumbotron">
  <h1 class="display-4">All Submitted Reimbursements:</h1>

  <div *ngIf='reimbursements'>
    
    <div class="box box-default">
      <code>
        <pre>{{reimbursements | json}}</pre>
      </code>
    </div>

  </div>

  <hr class="my-4">
  <p>For any questions or concerns please contact your supervisor</p>
  <div class="row">
    <div class="col">
      <a class="btn btn-primary btn-lg" routerLink="/home" role="button">Home</a>
    </div>
    <div class="col">
      <a class="btn btn-primary btn-lg" routerLink="/NewR" role="button">Submit New Request</a>
    </div>
  </div>



</div>