/* HTML Elements */

body {
    background-image: url("pics/WP_20171123_17_02_58_Panorama.jpg");
    background-size: 2000px;
    background-attachment: fixed;
}

footer {
    background-color: rgba(12, 11, 11, 0.5);
    color: white;
    font-size: 40px;
    font-style: italic;
    max-width: 700px;
    margin: auto;
    margin-top: 110px;
    text-align: center;
}







