/* HTML Elements */

body {
    background-color: lightgray;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to green on hover */
li a:hover {
    background-color: green;
    color: white;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

/* HTML Classes */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #ada6a6}

.dropdown:hover .dropdown-content {
    display: block;
}

.float-right {
    float: right;
}

.submitButtonDiv {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.login_register_form {
    background-color: rgba(211, 211, 211, 0.7);
    max-width: 400px;
    margin: auto;
    text-align: right;
    padding: 15px;
    margin-top: 20px;
    border: solid;
    border-width: .5px;
    font-weight: bold;
}

.register_login_button {
    width: 200px;
    height: 40px;
    background-color: green;
    color: lightgray;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    border: solid;
    border-color: black;
    border-width: .5px;
    box-shadow: 1px 1px 1px darkgrey;
}

.register_login_button:hover {
    background-color: rgb(53, 52, 52);
}

.register_login_inputField {
    width: 160.8px;
    height: 24px;
    margin-left: 15px;
    margin-right: 70px;
    border: solid;
    border-width: .5px;
    padding: 5px;
}

.topNavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 15px;
}

/* HTML IDs */

#title {
    color: green;
    text-align: center;
    background-color: lightgray;
    margin: 0;
    padding: 15px;
    font-size: 40px;
}




