/* HTML Elements */

body {
    background-color: rgb(70, 70, 70);
}

h2 {
    margin: 0%;
    padding: 5px 5% 15px 5%;
    text-align: center;
}

h3 {
    margin: 0%;
    padding: 5px 5% 15px 5%;
}

/* HTML Classes */


.sideli {
    display: block;
    color: #000;
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    width: 58px;
}

.sideli:hover {
    background-color: #555;
    color: white;
}


.sideNavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 58px;
    background-color: lightgrey;
    position: fixed;
    height: auto;
    overflow: auto;
    margin-top: 25px;
}

.pics {
    width: 90%;
    height: auto;
    padding: 0% 5% 0% 5%;
}

.location {
    background-color: lightgray;
    border: none;
    padding: 10px;
}

.description {
    background-color: lightgray;
    border: none;
    width: 100%;
}

.info {
    padding-left: 5%;
    margin-top: 5px;
    width: 90%;
}

.userHomeView{
    max-width: 800px;
    margin: auto;
    background-color: lightgray;
    padding: 15px;
    margin-top: 25px;
}

.uploadInfo {
    width: 100%;
    padding: 2px;
    padding-left: 5px;
    margin-bottom: 8px;
}

/* HTML IDs */

#picView {
    display: block;
}

#uploadView{
    display: none;
}

#favView {
    display: none;
}

#home{
    color: white;
    background-color: green;
}

#home:hover {
    background-color: #555;
    color: white;
}

#upload{
    color: black;
    background-color: lightgray;
}

#upload:hover {
    background-color: #555;
    color: white;
}

#favs{
    color: black;
    background-color: lightgray;
}

#favs:hover {
    background-color: #555;
    color: white;
}


#uploadBtn {
    width: 200px;
    height: 35px;
    background-color: green;
    color: white;
    border-color: black;
    border-width: .5px;
    border-radius: 17px;
    font-weight: bold;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

#homeIcon{
    width: 65px;
    margin-left: -7px;
}

#uploadIcon{
    width: 35px;
    margin-left: 8px;
}

#favIcon{
    width: 35px;
    margin-left: 8px;
}

#popupImg{
    width: 90%;
    height: auto;
    padding: 0% 5% 0% 5%;
}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 900px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}