<!doctype html>
<app-login-box></app-login-box>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <div id="navContainer" class="p-3 mb-2 bg-danger text-white ">
                <img id="logo" src="../assets/images/image.png">
                <img id="funny" src="../assets/images/princesses.png">
    </div>
     
        <img id="plant" src="../assets/images/plant.gif">
        <img id="border" src="../assets/images/border.png">
        <div id="bodyDiv">

    
       
       <img id="dancingMario" src="../assets/images/f75ff23cd22d200f24bfd21f3a8b1f86.gif">
       <img id="coin1" src="../assets/images/coin.gif">
       <img id="coin2" src="../assets/images/coin.gif">
       <img id="coin3" src="../assets/images/coin.gif">
       <img id="coin4" src="../assets/images/coin.gif">
       
       
        </div><br>
  
    
      
        

        

        <div id="space">
            <h1>.</h1>
         </div>
