/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('http://www.kinyu-z.net/data/wallpapers/190/1368739.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
