

<table id='reimbursements' class="table table-hover table-light">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Spy</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">Submission Time</th>
      <th scope="col">Approve or Deny</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th >1</th>
      <td>???</td>
      <td>We know what you did</td>
      <td>Other</td>
      <td>1,000,000</td>
      <td>approved</td>
      
    </tr>

  </tbody>
</table>