<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{title}}</span>
    </div>
    <div class="panel-body">
        <img class="image-center" src="{{image}}" />
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                AngularJS is a <strong>JavaScript</strong> framework, Angular is a <strong>TypeScript</strong> framework (which transpiles into JavaScript).
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                Angular replaces AngularJS <strong>Controllers</strong> with <strong>Components</strong>.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                Angular's performance improves  because of the <strong>Component's lifecycle</strong> (and other reasons).
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                AngularJS only has <strong>two forms of databinding</strong> (one-way and two-way) and it actually uses <strong>directives</strong> (ng-bind, ng-model) for them.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                The amount of <strong>directives</strong> is reduced in Angular because of the extra ways of data binding and components.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                AngularJS follows the <strong>MVC</strong> architecture strictly, Angular doesn't follow any specific design pattern.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                There are <strong>more</strong> I invite you to check AngularJS code and investigate more differences.
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="{{documentation}}">Documentation</a>
    </div>
</div>