<app-navbar></app-navbar>
<div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Amount of Willpower</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Amount" #amt>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Request type:</label>
      <select class="form-control" id="exampleFormControlSelect1" #opt>
        <option value="1">Peace of mind</option>
        <option value="2">Slow Down</option>
        <option value="3">Priorities</option>
        <option value="4">Aspirations</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #desc></textarea>
    </div>
    <br><button type="button" (click)="submitRequest(amt.value, opt.value, desc.value)">Submit</button>
  </div>
