<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{title}}</span>
    </div>
    <div class="panel-body">
        <img class="image-center" src="{{image}}" />
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>Components</strong> have their own <strong>Template</strong> companion.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>Templates</strong> are <strong>HTML</strong> files which render the <strong>Component</strong>.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                This allows us to have <strong>dynamic</strong> and <strong>modular</strong> views in our app.
            </div>
        </div>        
    </div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{subTitleDeclaration}}</span>
    </div>
    <div class="panel-body">
        <img class="image-center" src="{{subTitleImageDeclaration}}" />
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>Templates</strong> are declared in the <strong>@Component</strong> decorator.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                We modify the <strong>templateUrl</strong> parameter of the metadata.
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="{{documentation}}">Documentation</a>
    </div>
</div>