body {
    background-color: darkslategray;
}

/* ############################################################################################################ */
#loginBackGround {
    background-color: lightslategray;
    border-radius: 5px solid white;
    /* margin-top: 20; */
    margin-left:300px;
    margin-right:20px;
    position: relative;
    width:560px;
    
 
 
}

#loginImageBackground {
    margin: 10px;
    padding: 10px;
    background-image: url(https://media1.giphy.com/media/l3q2Cy90VMhfoA9BC/200w.webp);
    background-size: inherit;

}

#inputBackground {
    background-color: lightgrey;
    text-align: center;
    height: 100px;
    margin:0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding:5px;
    width: inherit;
}


#centerupimage{
    padding:50;
    background-position: center;
    
    margin-left:150px;
    width: 200;
    height: 150;

}
/* ############################################################################################################ */

.imageLogin {
    /*cotrol the background image of a lady in image/ avatar*/
    background-image: url(https://media1.giphy.com/media/l3q2Cy90VMhfoA9BC/200w.webp);
    background-size: cover;
    width:200;
    height: 200px;
    position: relative;
    margin-left:0px;
    align-content: center;
}

label {
    text-align: left;
    background-color: azure;
    width: 100px;
    height:inherit;
    font-size: 20px;
    padding-left: 5px;
    position: relative;
    margin:15px;
}

button {
    margin-top:4px;
    width: 180px;
    height: 30px;
    border-top-right-radius: 25;
}

button:hover {
background-color: green;

}

.boa {
    background-color:lightslategray;
    padding:5px;
}

.signUpUl li {
    background-color:none;
}