

  
body {
    background-image: url(https://media3.giphy.com/media/3o6vY2wgzLY2K1MKB2/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:whitesmoke;
    min-width: 300px;
    min-height: 200px;
}


/* the id selector go here ONLY */


#headerh1 {
    /* this is h1 located in header */
    background-color: white;
    width: auto;
    height: 40px;
    position: relative;
    text-align: center;
    color: black;

    top: 0%;
    left: 50%;
    right: 15%;
    transform: translate(-50%, -50%);

}    


/* #navarea{
     display:block; 
} */

#navbar {
    /* this is the nav element with grey background element*/
    /* display: block; */
    background-color: royalblue;
    height:80px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

 

#thehead {
    /* this is the first div holding header */
    background-image:url(none);
    height: 275px;
    /* width: 1000px; */
    width: cover;
    /* margin-left: 110px;
    margin-right: 40px;
    margin-bottom: 5px; */
    border:5px solid;
    border-color: white;
    border-radius:20px;
    padding: 0px;
    padding-bottom: 10px;
    min-width: auto;
    
    
}
/* 000000000000000000000000000000000000000000000000000000000000000000000000 */

#mainbackground {
/* this is for the main element area within the div tag */
    background-color: white;
    position: relative;
    margin: 0px;
    border: 5px;
    padding: 0px;
    /* width: 1330px; */
    width: cover;
    height:800px;
    
}

#theFooterfoot {
    background-color:none;
    margin:0px;
    border:5px;
    padding-top:10px; /*this remove space for between the small gap from man element and nav bottom bar*/
    /* width:1330px; */
    width:cover;
    height:inherit;
   
}

#bodySlider {
    margin: 0px;
}

#socialmedias {
    background-color:none;
    width:inherit;
    height: 20px; 
    padding-left: 10px;
    
}

#socialmedias img {
    width: 40px;
    height: 40px;
    border: 2px solid;
    margin:3px;
    
}
#socialplacement {
    margin-top: 10px;
    position: relative;
    margin-left:450px;
}

#comment {
    height: 40px;
}



/*ID selector end *********************************************************************************************** */
/*class begin 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 */
a:hover {
    background-color:royalblue;
    width: inherit;
    height: cover;
}

.allNav {
    /* this is the red nav bar with links */
    list-style-type: none;
    margin-top:20px;
    background-color: whitesmoke;
    height: 40px;
    position: relative;
    top:30%;
    bottom: 25%;
    
}

.listRight {
    float: right;
    text-align: center;
    padding-bottom: 2px;
}

.smallImage {
    position: relative;
    width: 800px;
    height: 400px;

}

/*class end 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 */

a {
   
    text-decoration: none;
    
}

li {
  display: inline;
  font-weight: bold;
  font-size:1.5em;
  padding:3px;
  margin: 2px;
  position: relative;
  top:15%;  
  
}

main {
    padding-left: 10px;
    padding-top: 10px;  /*this remove space for between the small gap from man element and nav bottom bar*/
    
}

/* modal uuuuuuuuuuuuuuuuuubbbbbbbbbbbbbbbbbbbbbbfrhfbhrjrjn rhrhrh */

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalModal {
    background-color: #fefefe;
    border-radius: 25px;
    height: 20px;
}

.modal-content {
    width: 200px;
    height: 150px;
}

.myRight {
    
    margin-top: 10px;
    position: relative;
    margin-left:450px;
}

.mySlides {
    width: 400px;
    height: 400px;
    margin-left: 400px;
}

.bbb{
    margin-right:200px;
}
/* modal end ghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */