/* id area------------------------------------------------------------------------------------------ */
#formBackground {
    background-image: url(https://media3.giphy.com/media/3o6vY2wgzLY2K1MKB2/giphy.gif);
    background-size: cover;
    background-color: darkgrey;
    width: 1350px;
    height: 650px;
    position: absolute;
    border-radius: 25px;
}

#formHolder {
    background-color: beige;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    margin-left:456px;
    margin-top: 100px;
}

#formSubmitBtn {
    background-color: lightsteelblue;
    width: inherit;
    height: 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

#signedUp {
    width: 70px;
    height: 35px;
    margin-left: 0px;
    margin-top: 2.5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button:hover {
    background-color: rgb(70, 131, 131);
    font-weight: bold;
    width:inherit;
    border-radius: 25px;
}


/* id area------------------------------------------------------------------------------------------ */

/* class area++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* class area++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.former {
    text-align: center;
    padding-top: 5px;
}