<div id="emp_background">
<h1> Employee Reset Password </h1>
<div id="sidenav">
    <a routerLink="/employee" id="link">Home</a>
    <a routerLink="/agent/profile" id="link">Employee Profile</a>
    <a routerLink = "/agnet/reimbursements" id="link">Employee Reimbursements</a>
    <a routerLink = "/logout" id="link">Logout</a>
    </div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">New Password</h5>
    <div class="card-text"  id="e-info">
        <label>Employee Id:</label>
        <input  type="number" value="{{ final.empId}}" readonly>
        <label>New Password:</label>
        <input [(ngModel)] = "password" type="text" required placeholder="New Password">
      </div>
        <button class = "btn btn-primary" type="submit" (click)="start()">Submit New Password</button>
      </div>
</div>




  </div>