<div class="card">
  <!-- <img class="card-img-top" src="{{pokemon.imageUrl}}" alt="{{pokemon.name}}"> -->
  <div class="card-body">
    <h5 class="card-title">{{trainer.trainerName | uppercase}}</h5>
    <h6 class="card-title">{{user.fname | uppercase}} {{user.lname | uppercase}}</h6>
    <p class="card-text">
      Position: {{user.posType}} <br> 
      Email: {{user.email}} <br> 
      Pokeball count: {{trainer.pokeballCount}} <br> 
      Candy Coung: {{trainer.candyCount}}
    </p>
    <!-- <a class="btn btn-primary" (click)="done()" *ngIf="pokemon.statusId == 3">Done</a> -->
  </div>
</div>