body {
    padding: 50px;
  }
  
  .trigger {
    width: 200px;
    height: 200px;
    border: 20px solid #999;
    background: #ddd;
  }
  
  .box {
    display: inline-block;
    background: pink;
    width: 200px;
    height: 200px;
    transition: -webkit-transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97);
    transition: transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97);
    transition: transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97), -webkit-transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97);
    pointer-events: none;
  }

  .box2{
    display: inline-block;
    background: pink;
    width: 20px;
    height: 20px;
    position: relative;
    animation: myAnim 2s ease-in-out 0s 1 normal forwards;
  }
  
  .trigger.clicked .box {
    -webkit-transform: translate(200px, 150px) rotate(20deg);
            transform: translate(200px, 150px) rotate(20deg);
  }

  @keyframes myAnim {
      0%{
          transform: translate(600px) rotate(360deg) scale(.1);
          background: blue;
          
      }
      50%{
          transform: rotate(360deg);
          background: red;
          
      }
      100%{
        background: blue;
        width: 200px;
        height: 200px;
    }
  }
  