<!doctype html>
<app-navbar></app-navbar>
<app-login-box></app-login-box>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    
     
        <img id="plant" src="../assets/images/plant.gif">
        <img id="border" src="../assets/images/border.png">
        <div id="bodyDiv">

    
       
       
       <img id="dancingMario" src="../assets/images/f75ff23cd22d200f24bfd21f3a8b1f86.gif">
       
       
        </div><br>
  
    
      
        

        


        <div id="space">
            <h1>.</h1>
         </div>