<div class="container">
  <div class="row" id="text">
    <div class="col">
      Todo List
    </div>
    <div class="col">
      News
    </div>
  </div>
  <div class="row" id="media">
    <div class="col">
      <ul class="list-unstyled">
        <li class="media">
          <img class="mr-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf6qEDlEcBxBCOFk3S7fMgVYbqbqHc47cHAojwI16vWyzynRey" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Mind Training</h5>
            You must be smarter then a 5th grader!
          </div>
        </li>
        <li class="media my-4">
          <img class="mr-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ6w6cRvBxQnYJYZEa9PKB0bjzcSipecnNqRC82AJON50Qh_gz" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Body Training</h5>
            You must be an absolute unit!
          </div>
        </li>
        <li class="media">
          <img class="mr-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjqq8HUqTyxRDdrwUdCr1ohA-FyCgidp67a5Vjj9EZfrwufSOg" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Trigger Finger Training</h5>
            You must have enough fingers to pull a trigger!
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>