/*Navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gray;
    overflow: hidden;
    /*Allows the navbar to stay fixed at top*/
    position: sticky;
    top: 0;
    width: 100%;
    border: 1px solid darkgray;
    box-shadow: 0px 20px 50px 0px rgba(161, 158, 158, 0.377);
}

li {
    float: left; /*Allows url's to be horizontal*/
}

/*Navbar color text and position within Navbar*/
li a {
    display: inline-block;
    color:lightgray;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border-right: 1px solid darkgray;
}

li:last-child {
    border-right: none;
}

/* Change the link color black on hover
    and box white */
li a:hover {
    background-color: white;
    color:black;

}
body {
background-color: black;
}

#back_image {
    position: relative;
    top: 10px;
    left: 350px;
}
/*Formating for boxes with image and text*/
#picture_box_left {
    margin: 50px 500x 50px 50px;
    background-color: rgba(112, 107, 107, 0.795);
    border: 2px;
    padding: 10px;
    left: 50px;
    position: relative;
    width: 500px;
}

.descrip_box {
    background-color: rgba(255, 228, 196, 0.404);
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px;
    width: 200px;
}

.textbox {
    position: relative;
    border: 1px;
    background-color: rgba(245, 245, 220, 0.397);
    border-color: rgb(153, 153, 141);
    padding: 10px;

}

.buttons {
    position: relative;
    left: 217px;
}