/*Navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gray;
    overflow: hidden;
    /*Allows the navbar to stay fixed at top*/
    position: sticky;
    top: 0;
    width: 100%;
    border: 1px solid darkgray;
    box-shadow: 0px 20px 50px 0px rgba(161, 158, 158, 0.377);
}

li {
    float: left; /*Allows url's to be horizontal*/
}

/*Navbar color text and position within Navbar*/
li a {
    display: inline-block;
    color:lightgray;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border-right: 1px solid darkgray;
}

li:last-child {
    border-right: none;
}

/* Change the link color black on hover
    and box white */
li a:hover {
    background-color: white;
    color:black;

}
body {
background-color: black;
}

#back_image {
    position: relative;
    top: 10px;
    left: 350px;
}
