/*The nav bar*/ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}
/*Font and box editing*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 60px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(116, 15, 15);
}
body {
       background-image: url("https://wallpapercave.com/wp/LRxGqsU.jpg")


           }
/*Login Button*/
#login ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/*Text box in the first page of the website*/
#start_page {
    background-color: rgba(167, 167, 167, 0.664);
    border: 5px solid black;
    text-align: center;
    padding: 40px;
    margin: 130px 30px 50px 50px;
}
/*Shredding picture*/
#shred {
    background-color: rgb(133, 133, 133);
    border: 3px solid black;
    padding: 10px;
    max-width: 400px;
    margin: 130px 30px 50px 50px;
}
/*Maintaining picture*/
#maintain {
    background-color: rgb(133, 133, 133);
    border: 3px solid black;
    padding: 10px;
    max-width: 400px;
    margin: -578px 0px 0px 700px;
}

.images {
    background-color: rgba(151, 104, 155, 0.897);
    border: 1px solid black;
    font-weight: bold;
    text-align: center; /* text inside the element */
    padding: 20px;
    /* center loginForm element */
    max-width: 400px;
    margin: 130px 30px 50px 50px;
}
.text {
    background-color: rgb(175, 120, 168);
    border: 1px solid black;
    font-size: 8px;
    text-align: center; /* text inside the element */
    padding: 20px;
    /* center loginForm element */
    max-width: 400px;
    margin: -300px 0px 0px 600px;
}
.link {
    font-size: 15px;
}
#fashion-font {
    font-size: 50px;
    text-align: center;
    bottom: -190px;
    position: relative;
    vertical-align: bottom;
}