<<<<<<< HEAD
<<<<<<< HEAD


#outter{
    background-color: red;
    font-family: monospace;
    font-size: xx-large;
    
}

#inner{
    background-color: #43ff3e;
    margin: 10px;
}

#innermost{
    background-color: #5172ff;
    margin: 10px;
}

#header{
    font-size: xx-large;
    margin-bottom: 20px;
=======
#header{
=======
#header {
>>>>>>> 4eb29dca203a33cdc98ed607180e8dc41eace9bf
    font-size: xx-large;
    margin-bottom: 20px;
}

#outter {
    background-color: red;
    font-family: monospace;
    font-size: xx-large;
    font-style: normal;
    margin: 10px;
}

#inner {
    background-color: #43ff3e;
<<<<<<< HEAD
    /* width: 90%; */
=======
>>>>>>> 4eb29dca203a33cdc98ed607180e8dc41eace9bf
    margin: 10px;
}

#innerMost {
<<<<<<< HEAD
    background-color: #5172ff;;
    margin: 10px;
>>>>>>> 96a3cef7a318d158b57fa6b631d5de2e88dffb70
=======
    background-color: #5172ff;
    margin: 10px;
>>>>>>> 4eb29dca203a33cdc98ed607180e8dc41eace9bf
}