                                                                                    /* Nav bar edits*/

.ul {
    position: fixed;
    list-style-type: none;
    margin-top: 30;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
    font-size: .25in;
    font-weight: bold;
    border-width: 20px 20px;
    border-radius: 20px 20px;
    margin-left: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(194, 106, 47);
}

.subscribe {
    position: fixed;
    list-style-type: none;
    margin-top: 30;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 189, 126);
    font-size: .25in;
    font-weight: bold;
    margin-left: 72.5%;
    border-width: 20px 20px;
    border-radius: 20px 20px;
}
                                                                                    /* End edit*/ 

                                                                                    /* All Page Text edits (Consistency) */

h1 {
    padding-top: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1in;
    line-height: 0.05;
    color: white;
    text-shadow: 4px 4px 6px #cbcbcc;
}
.create {
    position: absolute;
    margin-left: 36%;
}
h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: .3in;
    line-height: 0.05;
    color: white;
    text-shadow: 4px 4px 6px #8fb6da;
}

h5 {
    color: white;
    font-size: .3in;
    text-align: center;
    padding: 200px;
    text-shadow: 4px 4px 6px #8fb6da;
}

body {
    background-color: rgb(17, 17, 17);
}
                                                                                    /* End edit*/ 

                                                                                    /* Home*/

.cartoonfight{
    z-index:-1;
    position: fixed;
}

.logo{
    z-index: -1;
    width: 600px;
    position: absolute;
    left: 35%;
    top: -9%;
}
                                                                                    /* End edit*/ 

                                                                                    /* 
                                                                                        Portfolio
                                                                                    */
#allPics {
    margin-top:7%;
}

#commentSec {
   margin-left: 42%;
   font-size: 55px;
   color: rgb(255, 255, 255);
   text-shadow: 4px 4px 6px #8fb6da;
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#newCommentName {
    width: 98%;
    position: absolute;
    margin-top: 84%;
    background-color: #55ACEE;
}

div.gallery {
    margin: 4px;
    border: 4.5px solid #ccc;
    float: left;
    width: 400px;
}

div.gallery:hover {
    border: 4.5px solid rgb(0, 153, 255);
    
}

div.desc {
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    background-color: #000000;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;
}

div.gallery:hover {
    border: 4.5px solid rgb(0, 153, 255);
}


div.gallery3 {
    margin: 5px;
    border: 4.5px solid #ccc;
    float: left;
    width: 630px;
}

div.gallery5 {
    width: 589px;
}

div.gallery4 {
    width: 550px;
}

div.gallery1 {
    width: 554.3px;
}

div.gallery6 {
    width: 275px;
}

div.gallery2 {
    width: 839px;
}

.background {
    z-index: -1;
    position: fixed;
}
                                                                                            /* End edit*/ 

                                                                                            /* About */

.crocs {
    position: fixed;
    z-index: -1;
    width: 100%;
}
#myVideo {
    z-index: -1;
    position: absolute;
    
}
                                                                                            /* End edit*/ 

                                                                                            /* Contact */

.contactme {
    text-align:center;
    color: white;
    font-size: .5in;
    text-shadow: 4px 4px 6px #8fb6da;
    padding: 270px;
    line-height: 120px;
}

.jazz {
    z-index:-1;
    position: fixed;
    width: 100%;
    margin-top: -45%;
}

.logo2{
    width: 600px;
    position: absolute;
    left: 33%;
    top: -7%;
}
                                                                                            /* End edit*/ 

                                                                                            /* Contact Form (Social media) */ 
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    opacity: .8;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateY(-100%);
    transform: translateZ(-100%);
    margin-left: 47.3%;
    margin-right: 47.3%;
    margin-top: -15%;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 40px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  .instagram {
      background: rgb(255, 124, 124);
      color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
                                                                                                    /* End edit*/ 

                                                                                                    /* Contact Form */

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #3bd343;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #291b1b;
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
    opacity: .9;
    color: #ccc;
    
}

.create{
    margin-top: 0px;
}
                                                                                                        /* End edit*/ 

                                                                                                        /* Subscribe */

.newsletter {
    text-align: center;
    color: #000;
    font-size: 75px;
}
.sub {
    z-index: 1;
    margin-left: 44.5%;
    margin-top: 4.5%;
    position: absolute;
    width: 75%;
    
}

.background2 {
    z-index: -2;
    position: fixed;
    width: 100%;
}

/* Add some padding and a grey background color to containers */
.container {
    padding: 20px;
    background-color: #f1f1f1;
    color: #000;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
    margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.9;
}
                                                                                                            /* End edit*/ 

                                                                                                            /* Register*/

/* The message box is shown when the user clicks on the password field */

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
}

.register {
    color: #000;
}

.container {
    padding: 16px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #a7a6a6;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
                                                                                                            /* End edit*/ 

                                                                                                            /*Upload*/

.upload {
    position: absolute;
    margin-left: 38%;
    top: 15%;
    width: 50%;
    height: 50%;
}

#posted {
    margin-top: 30%;
    position: absolute;
}
#posted img {
    width: 410px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}

#pic {
    max-width: 20%;
    max-height: 20%;
    margin-left: 30%;
}

#fileName {
    width: 50%;
    background-color: #424242;
    color: #55ACEE;
    font-weight: bold;
    font-size: 20px;
}
#urlText {
    width: 50%;
    background-color: #424242;
    color: #55ACEE;
    font-weight: bold;
    font-size: 20px;
}
#uploadSub {
    width: 25%;
    margin-left: 100px;
    font-size: 20px;
}

.post {
    position: absolute;
    margin-left: 628px;
    margin-top: 0px;
    text-shadow: #000;
}

.post2 {
    position: absolute;
    margin-left: 725px;
    margin-top: 0px;
    text-shadow: #000;
    
}

#login {
    margin-top: 150px;
    margin-left: -20px;
    width: 100%;
    position: absolute;
}