#background {
    background-image: url("../Archer/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 85%;
    width: 100em;
    height: 50em;

    
 }
 #link {
     padding: 32px;
     text-decoration: none;
     display: inline;
     transition: 0.3s;
     color: #9bc5c6;
     font-family: 'Permanent Marker', cursive;
     font-size: larger;
 }
 #link :hover {
     color: black;
 }
 h1 {
     color: white;
     font-family: 'Permanent Marker', cursive;
     text-align: center;
     font-size: 40px;;
 }