#out {
    float:right;
}

#logout {
    color: darkred;
    float: right;
}
#home {
    color: darkred;
    
}
#pending {
    color: darkred;
}
#resolved {
    color: darkred;
}
#view {
    color: darkred;
}

#logout:hover {
    color: forestgreen;
    float: right;
}
#home:hover {
    color: forestgreen;
    
}
#pending:hover {
    color: forestgreen;
}
#resolved:hover {
    color: forestgreen;
}
#view:hover {
    color: forestgreen;
}
