<div class="ercard">
  <div class="ercard_header">Employee Profile</div>
  <div class="list_container">
    <table id="datatable" class="er_table">
      <tr class="tdcenter">
        <td class="table_caps">Username</td>
        <td>{{getUsername(user)}}</td>
      </tr>

      <tr class="tdcenter">
        <td class="table_caps">First Name</td>
        <td>{{getfName(user)}}</td>
      </tr>

      <tr class="tdcenter">
        <td class="table_caps">Last Name</td>
        <td>{{getlName(user)}}</td>
      </tr>

      <tr class="tdcenter">
        <td class="table_caps">Email</td>
        <td>{{getEmail(user)}}</td>
      </tr>

      <tr class="tdcenter">
        <td class="table_caps">Position</td>
        <td>{{getRole(user)}}</td>
      </tr>
    </table>
  </div>
</div>