#calculator {
    border-style: solid;
    border-width: .5px;
    box-shadow: 3px 3px 5px rgb(160, 158, 158);
    max-width: 450px;
    margin: auto;
    border-radius: 25px 25px 0px 0px;
}

#display{
    width: 410px;
    height: 45px;
    margin: 15px 10px .5px 20px;
    border-radius: 25px;
    background-color: rgb(175, 175, 175);
    border: solid;
    border-width: .5px;
}

#calcInfo {
    color: rgb(255, 94, 0);
    text-align: center;
    font-weight: bold;
}

input {
    width: 100px;
    height: 55px;
    font-size: 20px;
    margin: .5px;
}

table {
    margin: auto;
    padding-bottom: 10px;
}

h1 {
    color: rgb(27, 196, 27);
    font-size: 40px;
    margin-bottom: 5px;
    transform: translateX(-100%);
    animation: marquee 5s linear infinite;
    overflow: hidden;
    position: relative; 
}


@keyframes marquee {
    0% {
        transform: translateX(20%)
    }
    100% {
        transform: translateX(75%)
    }
}

td{
    padding: 0;
}
