/* button{
    margin-left: 350px;
    margin-bottom: -500px;
    width: 400px;
    height: 400px;
    background-color: rgba(245, 0, 0, 0.658);
} */

button {
    background-color: rgba(245, 0, 0, 0.658);
    padding: 100px;
    margin: 70px auto;
    font-weight: bold;
    width:400px;
    margin-left: 350px;
}
