<app-manager-navbar></app-manager-navbar>
<div class="container">
        <div class="row">
                <div class="col-sm">
        <button type="button" class="btn btn-primary btn-lg btn-span" ><a routerLink = "/view-requests">
          View All <br><br>Employee Requests</a></button>
                </div>
        </div>
        <div class="row">
                <div class="col-sm">
        <button type="button" class="btn btn-primary btn-lg btn-span" ><a routerLink = "/view-employees">
          View All <br><br>Employees</a></button>
                </div>
        </div>
  </div>
