<div id="login">
  <div class="form-group">
    <label class="form-check-label" for="email">Email:</label>
    <input id="emailInput" #email class="form-control" type="email" name="email" required>
  </div>
  <div class="form-group">
    <label class="form-check-label" for="password">Password:</label>
    <input id="passwordInput" #password class="form-control" type="password" name="password" required>
  </div>
  <button id="loginBtn" class="btn btn-outline-primary" (click)="getUser(email.value, password.value)" routerLink="/{{user.pos_id}}/home">Login</button>
</div>

<!-- <a *ngIf="user" (change)="getLoggedInUser()"  routerLink="/{{user.pos_id}}/home">Click here to direct you to home page</a> -->

