h1 {
    color:white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 40px;;
}

#link {
    padding: 32px;
    text-decoration: none;
    display: inline;
    transition: 0.3s;
    color: rgb(0, 0, 77);
    font-family: 'Press Start 2P', cursive;
    font-size: larger;
    

}
#background {
    /* background-image: url("../Archer/background.jpg"); */
    background-image: url("https://ak0.picdn.net/shutterstock/videos/9044620/thumb/9.jpg");
    background-repeat: no-repeat;
    background-size: 100% 85%;
    width: 100em;
    height: 50em;
 }
 h5 {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    text-align: center;
    color: rgb(0, 0, 77);
 }
 .card {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: auto;
    width: 40%;
    background-color: rgb(92, 91, 91);
}
#info {
    display: block;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

input {
    margin-bottom: 10px;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 0, 77);
}
label {
    display: block;
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 0, 77);
}
button {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}