<div id="background">
  <h1>Manage Reimbursement Requests</h1>
  <div id="sidenav">
    <a routerLink="/manager" id="link">Home</a>
    <a routerLink="/agents" id="link">Employees</a>
    <a routerLink="/agent/missions" id="link">Missions</a>
    <a routerLink="/reimbursements" id="link">Mission Reimbursements</a>
    <a routerLink="/logout" id="link">Logout</a>
  </div>
  <br>
  <div class="card" >
      <h5 class="card-header">Manage Reimbursement Request</h5>
      <div class="card-body">
          <h5 class="card-title">Requests</h5>
          <div class="card-text" id="info">
              <label>Request Id:</label>
              <input [(ngModel)] = "rId"type="number" required>
              <label>Enter '1' to Approve or '2' to Deny:</label>
              <input [(ngModel)] = "status" type="text" required>
              <button class="btn btn-dark" (click) = "start()">Click to Update</button>
          </div>
        

        
      </div>
  </div>
</div>