html { 
    background: url("https://www.trueachievements.com/customimages/057392.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }
  #talos{
      margin-top: 5%;
      margin-left: 38%;
  }
  .talos-img{
      width: 30em;
      position: fixed;
  }
  .talos-img:hover{
      width: 31em;
  }
  .title{
      position: absolute;
      width: 30%;
      margin-left: 34%;
      margin-top: 43%;
      margin-bottom: 0%;
  }
  .station{
      text-align: center;
      /* background-color: rgba(0, 0, 0, 0.61); */
      color: black;
      font-family: 'Aldrich';
      font-size: 33px;
  }
  .logo{
    margin-left: 40%;
    margin-right: 50%;
     width: 10em;
  }
  .box{
    border-style: outset;
    border-width: thick;
    border-color: darkgoldenrod;
    box-shadow: 0px 0px 100px #000000;
      margin: auto;
      margin-top: 15%;
      width: 50em;
      background-color: aliceblue;
  }
  .main-box{
    border-style: outset;
    border-width: thick;
    border-color: darkgoldenrod;
    box-shadow: 0px 0px 100px #000000;
      margin: auto;
      margin-top: 15%;
      width: 50em;
      height: 25em;
      background-color: aliceblue;
  }
  #login{
      margin-left: 35%;
      margin-top: 3%;
      margin-bottom: 0%;
      width: 30%;
      height: 5%;
      border: 1px outset rgb(0, 0, 0);
      font-size: 120%;
      font-family: 'Aldrich';
  }
  #login:hover{
    background-color: rgb(221, 221, 0);
    font-size: 140%;
  }
  #return{
    margin-left: 35%;
    margin-top: 0.5%;
      margin-bottom: 3%; 
    width: 30%;
    height: 5%;
    border: 1px outset rgb(0, 0, 0);
    font-size: 120%;
    font-family: 'Aldrich';
  }
  #return:hover{
    background-color: rgb(221, 221, 0);
    font-size: 140%;
  }
  .inputbox{
      text-align: center;
  }
  .logininfo{
      font-size: 120%;
    width: 30%;
    height: 5%;
    border: 1px outset rgb(0, 0, 0);
    font-family: 'Aldrich';
    text-align: center;
  }
  .info{
      width: 90%;
      
  }
  .header-logo{
      width: 3.5em;
      position: absolute;
      margin-left: 0%;
      margin-top: -1%;
  }
  .header{
      font-family: 'Aldrich';
      font-size: 140%;
      margin-bottom: 0%;
      margin-left: 8%;
  }
  hr{
      margin-left: 8%;
  }
  .backbtn{
    width: 33%;
    margin-right: 0%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: aliceblue;
    overflow-x: hidden;
    padding-top: 2px;
    margin-bottom: 0%;
  }
  .backbtn img{
      width: 0.6em;
  }
  .backbtn a{
      /* background-image: url('https://www.xmple.com/wallpaper/white-lines-stripes-streaks-grey-3200x1800-c2-ffffff-dcdcdc-l2-54-108-a-30-f-1.svg'); */
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* opacity: 0.5; */
    height: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
    width: 76%;
    padding: 6px 8px 6px 16px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(0, 0, 0);
    font-family: 'Aldrich';
    text-decoration: none;
    font-size: 120%;
    color: #000000;
    display: block;
  }
  .sidenav {
    height: 65%;
    width: 30%;
    margin-right: 0%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: aliceblue;
    overflow-x: hidden;
    padding-top: 2px;
    margin-bottom: 0%;
}

.sidenav a {
    /* background-image: url('https://www.xmple.com/wallpaper/white-lines-stripes-streaks-grey-3200x1800-c2-ffffff-dcdcdc-l2-54-108-a-30-f-1.svg'); */
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* opacity: 0.5; */
    height: 10%;
    margin-left: 5%;
    margin-bottom: 1%;
    padding: 6px 8px 6px 16px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(0, 0, 0);
    font-family: 'Aldrich';
    text-decoration: none;
    font-size: 90%;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    background-color: white;
    position: relative;
    font-size: 94%;
}
.backbtn a:hover {
    background-color: white;
    font-size: 140%;
}
#content{
    float: right;
    margin-right: 10%;
    width: 60%;
    margin-left: -10%;
}
#content p{
    font-family: 'Aldrich';
    margin-left: 8%;
    margin-top: 0%;
}
#profile-info{
    margin-bottom: 0%;
}
.content input{
    font-family: 'Aldrich';
    color: #6b6b6b; 

}
.info-field{
    margin-bottom: 5%;
}
#edit-btn{
    height: 10%;
    margin: auto;   
    width: 71%;
    padding: 6px 8px 6px 16px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(0, 0, 0);
    font-family: 'Aldrich';
    text-decoration: none;
    font-size: 120%;
    color: #000000;
    display: block;
    background-color: aliceblue;
}
#edit-btn:hover{
    background-color:white;
    font-size: 140%;
}
.loading-gif{
    width: 4%;
    margin-left: 48%;
    margin-top: 25%;
}
.desc-box{
    font-family: 'Aldrich';
    
}
input{
    font-family: 'Aldrich';
}

#r_type{
    font-family: 'Aldrich'
}
#desc{
    font-family: 'Aldrich';
}
#file{
    font-family: 'Aldrich';
}
.content-img{
    margin-top: -3%;
    margin-left: 30%;
    margin-bottom: 3%;
    width: 15em;
}
.red-text{
    color: red;
}
#alert{
    position: absolute;
}