
<div id="background">
  <h1> ISIS Portal</h1>
  <div id="login-info">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input [(ngModel)] = "email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input [(ngModel)] = "password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary" (click) = "login()">Submit</button>
  </div>

<img src="https://images-na.ssl-images-amazon.com/images/I/51Ny4Trv5vL._SX300_.jpg">
</div>
