<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-primary btn-lg btn-span">Pending</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-primary btn-lg btn-span">Approved</button>
    </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-primary btn-lg btn-span">Denied</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-primary btn-lg btn-span" >Completed</button>
    </div>
  </div>