<button (click)="goBack()">go back</button>
<div *ngIf='reimbursement'>
    <div>Posted by {{reimbursement.employee.fname}} {{reimbursement.employee.lname}}</div>
    <div>{{reimbursement.manager.fname}} {{reimbursement.manager.lname}}</div>
    <div>Amount: ${{reimbursement.amount}}</div>
    <div>Description: {{reimbursement.description}}</div>
    <div>Time submitted: {{reimbursement.timesubmission.substring(0,19)}}</div>
    <div>Type: {{reimbursement.rq_type}}</div>
    <div>Status: {{reimbursement.rq_status}}</div>
</div>
