<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
   <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <display-name>RickAndMorty</display-name>
  
  
  <!--USER BY EMAIL-->
  <servlet>
  <servlet-name>userEmail</servlet-name>
  <servlet-class>com.revature.servlet.GetUserByEmailServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>userEmail</servlet-name>
  <url-pattern>/login</url-pattern>
 
  </servlet-mapping>
  
  <!-- ALL EMPLOYEES -->
   <servlet>
  <servlet-name>allEmp</servlet-name>
  <servlet-class>com.revature.servlet.GetAllUsersServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>allEmp</servlet-name>
  <url-pattern>/employees</url-pattern>
 
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>allReim</servlet-name>
  <servlet-class>com.revature.servlet.GetAllReimbursementsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>allReim</servlet-name>
  <url-pattern>/reim</url-pattern>
 
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>allEmpReim</servlet-name>
  <servlet-class>com.revature.servlet.GetAllReimByStatusAndIdServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>allEmpReim</servlet-name>
  <url-pattern>/reim/empId</url-pattern>
 
  </servlet-mapping>
  
  
  
  
   <servlet>
  <servlet-name>allReimApproved</servlet-name>
  <servlet-class>com.revature.servlet.GetAllReimByApprovedServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>allReimApproved</servlet-name>
  <url-pattern>/reim/approved</url-pattern>
 
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>allReimDenied</servlet-name>
  <servlet-class>com.revature.servlet.GetAllReimByDeniedServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>allReimDenied</servlet-name>
  <url-pattern>/reim/denied</url-pattern>
 
  </servlet-mapping>
  
  
  
  <servlet>
  <servlet-name>allReimPending</servlet-name>
  <servlet-class>com.revature.servlet.GetAllReimByPendingServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>allReimPending</servlet-name>
  <url-pattern>/reim/pending</url-pattern>
 
  </servlet-mapping>
  
  
   <servlet>
  <servlet-name>createReim</servlet-name>
  <servlet-class>com.revature.servlet.CreateReimbursementServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>createReim</servlet-name>
  <url-pattern>/reim/create</url-pattern>
 
  </servlet-mapping>
  
  
     <servlet>
  <servlet-name>updatePassword</servlet-name>
  <servlet-class>com.revature.servlet.UpdatePasswordServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>updatePassword</servlet-name>
  <url-pattern>/update</url-pattern>
 
  </servlet-mapping>
  
</web-app>