#title2 {
    position: fixed;
    margin-left: 26%;
    margin-top: 25px;
    color: black;
    font-size: 100px;
    text-decoration-style: wavy;
    text-shadow: 10px 10px 12px #4CAF50, 0 0 10px black;
    opacity: .8;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

#title3{
    position: fixed;
    margin-left: 18%;
    margin-top: 25px;
    color: black;
    font-size: 100px;
    text-decoration-style: wavy;
    text-shadow: 10px 10px 12px #4CAF50, 0 0 10px black;
    opacity: .8;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}