#background {
  position: fixed;
  z-index: -2;
  margin-left: -100px;
  margin-top: -150px;

}

#background2 {
    z-index: -1;
    position:fixed;
    margin-left: 850px;
    margin-top: -150px;

  }

#welcome {
    position: fixed;
    margin-left: 27%;
    margin-top: 25px;
    color: black;
    font-size: 100px;
    text-decoration-style: wavy;
    text-shadow: 10px 10px 12px #4CAF50, 0 0 10px black;
    opacity: .8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}

#portal {
    width: 500px;
    position: fixed;
    margin-left: 40%;
    margin-top: 13%;
    opacity: .6;
   
}

#portal2 {
    z-index: -1;
    position: fixed;
    margin-left: 28%;
    margin-top: 2%;
    opacity: .9;
    
   
}

#portal2:hover {
    opacity: .4;
}

 
#meebox {
    margin-left: 3%;
    margin-top: 2.5%;
    position: fixed;
    width: 5%;
}

#meesee {
    margin-left: 2%;
    margin-top: 1%;
    position: fixed;
    width: 6%;
    opacity: 0;
}

#meesee:hover {
    opacity: 1;
}


#morty {
    position: absolute;
    width: 25%;
    margin-left: 40%;;
    margin-top: 50%;
    z-index: 1;
}

#background {
    position: fixed;
    z-index: -1;
    background-color: black;
    width: 100%;
}

#email {
    font-size: 20px;
    color: white;
    padding: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
}
#psw {
    font-size: 20px;
    color: white;
    padding: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    margin: 8px 2px 8px;
    border: none solid green;
    cursor: pointer;
    width: 100%;
    border-radius: 25px 25px;
    font-size: 20px;
    
}button:hover{
    opacity: .7;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    border-radius: 15px 15px;
    font-size: 20px;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
    font-size: 20px;
}

.container {
    position: fixed;
    margin-top: 450px;
    margin-left: 575px;
    width: 30%;
    opacity: .3;
}

.container:hover{
    opacity: .9;
}
