<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  
<!--   <servlet>
  the alias of a servlet for protection (different name so hackers cannot see our class)
	 <servlet-name>hello</servlet-name>
	 <servlet-class>com.revature.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  now use the alias of a servlet
   	<servlet-name>hello</servlet-name>
   	<url-pattern>/hello</url-pattern>
  </servlet-mapping>
 -->
   
</web-app>