<div *ngIf="visible" class="text-monospace text-center" id="requestForm">
    
        <div class="form-group">
          <label id="title" for="exampleFormControlInput1">Profile</label>
          
        </div>
        <div class="form-group">
          <label class="name">Current First Name: {{currentEmployee.fname}}<br>
          <input class="form-group big" (change)="sendNewName()" [(ngModel)]= "currentEmployee.fname" placeholder="name">
           </label>
        </div>
        <div class="form-group">
          <label class="name">Current Last Name: {{currentEmployee.lname}}<br>
          <input class="form-group big" (change)="sendNewName()" [(ngModel)]= "currentEmployee.lname" placeholder="name">
           </label>
        </div>
       <h6 id="subTitlep">Change Password</h6>
        <div id="currentPassword" class="form-group">
            <label class="name">Enter Current password</label><br>
            <input (change)="checkValidPassword()" id="currentPass" type="password" class="form-group big" placeholder="Current" value="">
          </div>
        <div *ngIf="showPasswordChanger">
        <div id="NewPassword"class="form-group">
            <label class="name">Enter new password<br>
            <input id="startMatch" type="password" class="form-group big" (ngModel)= "currentEmployee.password" placeholder="New" value="">
             </label>
          </div>
        <div id="confPassword"class="form-group">
            <label class="name">Confirm new password<br>
            <input (change)="checkConfirmerAndUpdate()" id="confirmMatch" type="password" class="form-group big" (ngModel)= "currentEmployee.password" placeholder="Confirm" value="">
             </label>
          </div>
        </div>
          <button id="close" type="button" class="btn btn-primary" (click)="close()">Close</button>
     
      
</div>