<div class="container">

  <table class="table table-bordered table-dark table-hover">
    <thead>
      <th>ID</th>
      <th>Resolved by</th>
      <th>Submitted by</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Time submitted</th>
      <th>Request type</th>
      <th>Request status</th>
    </thead>
    <tbody>
      <tr *ngFor="let reimb of reimbursement">
        <th scope="row">{{reimb.rb_id}}</th>
        <td>{{reimb.rb_resolved_fname}} {{reimb.rb_resolved_lname}}</td>
        <td>{{reimb.rb_submission_fname}} {{reimb.rb_submission_lname}}</td>
        <td>${{reimb.amount}}</td>
        <td>{{reimb.description}}</td>
        <td>{{reimb.time_submission | date:'medium'}}</td>
        <td>{{reimb.rq_type}}</td>
        <td>{{reimb.rq_status}}</td>
      </tr>
    </tbody>

  </table>
</div>
