/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("..\\src\\app\\images\\picture_2.png");
    position: absolute;
    bottom: 0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: -2;
}

