/* 
Login.css: styles for the login page/component
*/

/* HTML ELEMENTS */

header {
    max-width: 100%;
    margin: auto;
    background-color: darkgray;
    text-align: center;
    font-size: 35px;
    padding: 15px;
    border-bottom-color: 1px black
}

/* HTML IDs */



#loginForm {
    border: 1px solid black;
    font-weight: bolder;
/* center loginForm Elements */
max-width: 500px;
margin: auto;
padding: 20px;
background-color: lightgray;
text-align: center;

}

#loginBody {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/51/49/735791be81aff4a.jpg);
}