/* Sizing and Dimensions */

body{
    margin: 0;
}

/* HTML Elements NAVBAR STUFF */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/* float elements */

.float-right {
    float: right;
}

.float-center {
    float: center;
}

.float-left {
    float: left;
}
/* end float elements */

/* BUTTON ELEMENTS */
.successbtn {
    color: beige; /* THIS IS YOUR FONT COLOR */
    background-color: rgb(58, 100, 58);
    min-width: 130px;
    min-height: 12px;
    float: center;
}

.successbtn:hover {
    /* 
    swap color and background on hover */
    color: rgb(58, 100, 58); /* THIS IS YOUR FONT COLOR */
    background-color: beige;
}

/* FOOTER ELEMENTS */
#footer {
    background-color:#DADADA;
    height:20px;
    padding:10px;
    border-top:1px solid #ABABAB;
    position: fixed;
    left:0;
    bottom:0;
    width:100%
    }