/* copied and pasted code from w3schools.com template */
.NavBarFormat{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* hover = the color that the background becomes when you hover over the text */
li a:hover {
    background-color: rgb(26, 210, 223);
}
body{background-color: blueviolet}

/* Top of page text */
.beginningtxt{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif
}
/* Text within the body */
.bodytxt{
    font-size: 25px;
    
}
/* Home page lower text */
.bodytxt2{
    font-size: 25px;
    text-align: center;
}