<div class="card border-success mb-3" style="max-width: 18rem;">
  <div *ngIf = 'user.pos_Id === 1' class="card-header">Welcome Overseer </div>
  <div *ngIf = 'user.pos_Id === 2' class="card-header">Welcome Dweller </div>
  <div class="card-body text-success">
    <h5 class="card-title">Email: {{ user.email }} </h5>
    <h5 class="card-title">First name: {{ user.fname }} </h5>
    <h5 class="card-title">Last name: {{ user.lname }} </h5>
    <h5 *ngIf = 'user.pos_Id === 1' class="card-title">Overseer #: {{ user.u_Id }} </h5>
    <h5 *ngIf = 'user.pos_Id === 2' class="card-title">Dweller #: {{ user.u_Id }} </h5>
  </div>

  
