<div class="container" id="data-container">
    <h2>ERS</h2>
    <hr>
    <h3>Expense Reimbursement System Registration</h3>

    <div class="form-group">
        <label for="fn">First name</label> <input type="text"
            class="form-control" id="fn" placeholder="Enter your first name">
    </div>

    <div class="form-group">
        <label for="password">Last name</label> <input type="text"
            class="form-control" id="ln" placeholder="Enter your last name">
    </div>

    <div class="form-group">
        <label for="password">Email Address</label> <input type="email"
            class="form-control" id="email" placeholder="Enter your email address">
    </div>
    
    <div class="form-group">
        <label for="password">Username</label> <input type="text"
            class="form-control" id="reg-username" placeholder="Enter your desired username">
    </div>
    
    <div class="form-group">
        <label for="password">Password</label> <input type="password"
            class="form-control" id="reg-password" placeholder="Enter your password">
    </div>
    
    <button type="submit" class="btn btn-block btn-primary" id="register">Register</button>
    <br> <br>

    <div class="alert alert-danger" id="reg-message"></div>
</div>