body{
    background-image: url("https://wallpapercave.com/wp/CToGD7f.jpg");
    /* background-image: url("https://img.getbg.net/upload/full/14/www.GetBg.net_Space__038403_.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}