<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{title}}</span>
    </div>
    <div class="panel-body">
        <img class="image-center" src="{{image}}" />
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                Used to implement <strong>single paged</strong> applications.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>Navigate</strong> through different <strong>components</strong>.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>Views</strong> don't switch, they are <strong>injected</strong>.
            </div>
        </div>
    </div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{subTitleDeclaration}}</span>
    </div>
    <div class="panel-body">
        <img class="image-center" src="{{subtitleImageDeclaration}}" />
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                Different <strong>views</strong> are located in different <strong>routes</strong>.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                Routes are <strong>published</strong> through an <strong>@NgModule</strong>.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                Our <strong>Routing Module</strong> needs to be included in the main <strong>Module</strong>.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                With this last step we are making our <strong>AppModule</strong> to <strong>subscribe</strong> to our <strong>RoutingModule</strong>.
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="{{documentation}}">Documentation</a>
    </div>
</div>