<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TodoList</display-name>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.revature.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>task</servlet-name>
    <servlet-class>com.revature.servlets.TodoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>task</servlet-name>
    <url-pattern>/task</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoIdServlet</display-name>
    <servlet-name>TodoIdServlet</servlet-name>
    <servlet-class>com.revature.servlets.TodoIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoIdServlet</servlet-name>
    <url-pattern>/task/id</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentationServlet</display-name>
    <servlet-name>DocumentationServlet</servlet-name>
    <servlet-class>com.revature.servlets.DocumentationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentationServlet</servlet-name>
    <url-pattern>/documentation</url-pattern>
    <!-- <url-pattern>/TodoList-Restful-API</url-pattern> -->
  </servlet-mapping>
</web-app>