#display
{
    background-color: rgb(109, 120, 109);
    width: 320px;
    height: 70px;
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-size: 25px;
}
.calculatorForm {
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    font-weight: bolder;
/* center loginForm Elements */
max-width: 375px;
max-height: 550px;
margin: auto;
padding: 5px;
background-color: rgba(211, 211, 211, 0.719) ;
text-align: center;
box-shadow: 10px 10px 10px rgba(0,0,0,0.75);
float: center;
}

/* HTML Classes */
.calcbtn {
    background-color: rgb(109, 120, 109);
    border: none;
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    margin-bottom: 8px;
    width: 5em;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 9px #999;
}
.calcbtn:hover {
background-color: darkgray
}
.calcbtn:active {
    background-color: grey;
    box-shadow: 0 5px rgb(94, 93, 93);
    transform: translateY(4px);
}

#textshadow {
    text-shadow: 2px 2px green;
}