<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>TodoList</display-name>

	<!-- main purpose of the web.xml is to connect urls to servlets -->
	<servlet>
		<!-- alias of a servlet for protection (different so hackers can't see 
			our class -->
		<servlet-name>hello</servlet-name>
		
		<servlet-class>com.revature.servlets.HelloWorldServlet</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
</web-app>