<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a id="home" class="navbar-brand" routerLink="/employeehome">home</a>
  <a id="request" class="navbar-brand" routerLink="/newrequest">new request</a>
  <a id="pending" class="navbar-brand" routerLink="/employeepending">view pending</a>
  <a id="resolved" class="navbar-brand" routerLink="/employeeresolved">view resolved</a>
  <a id ="edit" class="navbar-brand" routerLink="/editprofile">edit profile</a>
  <a id= "logout" class="navbar-brand" routerLink="/login">logout</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/employeehome">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">logout</a>
      </li>
    </ul>
  </div> -->
</nav>