
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhETP9GF3HAynJ6Zup3ZrBoQYNKfXoeuB0KPjI5kfsAp_fzL5a");

}

li.navbar {
    float: left;
}

li.navbar a  {
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

li.navbar a:hover {
    background-color: gold;
    color: green;

}
.navbarlogin {
    display: block;
    padding: 14px 16px;
    font-weight: bold;
    float: right;
}

h1 {
    color: gold;
}

#emaillink {
    border-style: none;
}

.center {
    margin: auto;
    width: 100%;

}
.centertext {
    text-align: center;
}
#titletext {
    margin:auto;

}
.likedthings{
    background: gold;
    margin: 5px;
    color: green;
    font-weight: bold;
    width:40%;
    box-align:left;

}
.notlikedthings{
    background: gold;
    margin: 5px;
    color: green;
    font-weight: bold;
    width:40%;
    box-align:left;

}
body {
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbaN_dzztaEeFFvFvMaGAM6m5nq_UuK9SRDUfdpOPsBpihBzOn);
    background-color: green;
    margin:25px 25px 25px 25px;
}
h1 {
    color: gold;
    background-color: green;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhETP9GF3HAynJ6Zup3ZrBoQYNKfXoeuB0KPjI5kfsAp_fzL5a");

}
h2 {
    color: gold;
    background-color:green;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhETP9GF3HAynJ6Zup3ZrBoQYNKfXoeuB0KPjI5kfsAp_fzL5a");

}
#loginForm {
    color: gold;
    background-color: green;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhETP9GF3HAynJ6Zup3ZrBoQYNKfXoeuB0KPjI5kfsAp_fzL5a");
    border: 10px solid gold;
    font-weight: bold;
    text-align: center; /* text inside the element */
    padding: 20px;
    /* center loginForm element */
    max-width: 80%;
    margin: auto;
}

.login-btn {
    background-color: rgb(51, 236, 51);
    color: gold;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius:50%;
    border: 3px solid gold;
   }
.login-btn:hover {
    background-color: gold;
    color: lightgreen;
}
.pictures {
background-color: gold;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhETP9GF3HAynJ6Zup3ZrBoQYNKfXoeuB0KPjI5kfsAp_fzL5a");
max-width: 90%;
padding-top: 100%;
padding:30px;
text-align:center;
font-weight:bold;
font-size:xx-large;
color:gold;
display:block;
margin:auto;
overflow:hidden;
position:relative;
}

.responsive {
    width:100%;
    height:auto;

}