

<ul  class="nav nav-tabs color" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="color: white" class="btn btn-outline-secondary" routerLink="/new-reimbursement" role="tab" >New Field Request</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active color" id="home-tab" data-toggle="tab"  role="tab" aria-controls="home" aria-selected="true">Requests</a>
  </li>
</ul>



<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <app-employee-reimbursement></app-employee-reimbursement>
  </div>
</div>
