<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- DATABASE CONFIGURATION -->
		<property name="hibernate.connection.username">bank_db</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@mydbinstance.ckb7pkj7urqv.us-east-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		
		<!-- Additional properties -->
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">none</property>
		
		<!-- CACHE CONFIGURATION -->
		<property name="net.sf.ehcache.configurationResourceName">/ehcache.xml</property>
		<property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		
		<!-- ANNOTATED MAPPING CLASSES -->
		<mapping class="com.revature.domain.BankUser"/>
		<mapping class="com.revature.domain.BankAccount"/>
		<mapping class="com.revature.domain.BankTx"/>
		
		<!-- EXAMPLE OF HBM FILE MAPPING -->
		<!-- <mapping resource="myObject.hbm.xml"/> -->
	</session-factory>
</hibernate-configuration>