h1 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}


#container {
   background-color: rgb(12, 111, 177);
    background-size: cover;
    background-position: center;
    border: 3px solid black;
    height: 40em;
}

img {
    width: 25em;
    height: 30em;
}