#text{
    background-color: rgba(192, 192, 192, 0.6);
    margin:auto;
    margin-top: 150px;
    width: 400px;
    color: black;
    text-align: center;
}

/* #background{
    background-image: url("http://www.internalvoices.org/transfile/big/114/1140793_galaxy-gif-wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */