ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: bisque;
}

li{
    float: center;
}

li a{
    display: block;
    color: green;
    text-align: start;
    padding: 15px 16px;
    text-decoration: red;
}

li a:hover{
    background-color: blue;
}