
<table id='reimbursements' class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="bg-danger"> + Secret Id + </th>
      <th scope="col" class="bg-dark"> + Request Type + </th>
      <th scope="col" class="bg-danger"> + Description +</th>
      <th scope="col" class="bg-dark">$Amount$</th>
      <th scope="col" class="bg-danger"> + Time Of Submission + </th>
      <th scope="col" class="bg-dark"> + Request Status + </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = 'let r of reimbs'>
      <th scope="row" class="bg-danger">{{r.rId}}</th>
      <td class="bg-dark">{{r.rqType}}</td>
      <td class="bg-danger">{{r.description}}</td>
      <td class="bg-dark">{{r.amt}}</td>
      <td class="bg-danger">{{r.timeSubmission | date: 'short'}}</td>
      <td class="bg-dark">{{r.rqStatus}}</td>
    </tr>

  </tbody>
</table>
