<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>PokemonWorldAPI</display-name>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>WorldServlet</display-name>
    <servlet-name>WorldServlet</servlet-name>
    <servlet-class>com.cpo.servlets.WorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorldServlet</servlet-name>
    <url-pattern>/world</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PokemonDataServlet</display-name>
    <servlet-name>PokemonDataServlet</servlet-name>
    <servlet-class>com.cpo.servlets.PokemonDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PokemonDataServlet</servlet-name>
    <url-pattern>/PokemonData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PokemonServlet</display-name>
    <servlet-name>PokemonServlet</servlet-name>
    <servlet-class>com.cpo.servlets.PokemonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PokemonServlet</servlet-name>
    <url-pattern>/pokemon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainerServlet</display-name>
    <servlet-name>TrainerServlet</servlet-name>
    <servlet-class>com.cpo.servlets.TrainerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerServlet</servlet-name>
    <url-pattern>/trainer</url-pattern>
  </servlet-mapping>
</web-app>