<div class="p-3 mb-2 bg-light text-dark" id="loginBox">
    <h1 class="text-monospace text-center">Hero Login</h1>
    <form id="formElements" (ngSubmit)="loginNow()">
        <input id="emailLogin" class="form-control" type="email" name="email" placeholder="email" [(ngModel)]="validateUser.email"> <br> <br>
        <input id="passwordLogin" class="form-control" type="password" name="password" placeholder="password" [(ngModel)]="validateUser.password"> <br>
        <input class="btn btn-outline-danger" type="submit" value="Login">
    </form>
    <div *ngIf ="incorrect">
    <img id="incorrect1" src="../assets/images/incorrect.gif">
    <img id="incorrect2" src="../assets/images/incorrect.gif">
    <h1 id="incorrect">Incorrect!</h1>
    </div>
    <img id="mushroom" src="../assets/images/mushroom.gif">
</div>