/*Navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gray;
    overflow: hidden;
    /*Allows the navbar to stay fixed at top*/
    position: sticky;
    top: 0;
    width: 100%;
    border: 1px solid darkgray;
    box-shadow: 0px 20px 50px 0px rgba(161, 158, 158, 0.377);
}

li {
    float: left; /*Allows url's to be horizontal*/
}

/*Navbar color text and position within Navbar*/
li a {
    display: inline-block;
    color:lightgray;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border-right: 1px solid darkgray;
}

li:last-child {
    border-right: none;
}

/* Change the link color black on hover
    and box white */
li a:hover {
    background-color: white;
    color:black;
}
body {
       background-image: url("https://wallpapercave.com/wp/LRxGqsU.jpg")
}
/*Login Button*/
#log {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/*Text box in the first page of the website*/
#start_page {
    position: relative;
    background-color: rgba(167, 167, 167, 0.664);
    border: 5px solid black;
    text-align: center;
    padding: 40px;
    margin: 130px 30px 50px 50px;
}
/*Front page dumbbell picture*/
#front_page_image {
    position: static;
    width: 100%;
    height: 200px;
    background-size: 100%, 50%;
    border: 1px;
}
/*Shredding picture*/
.container {
    display: flex; /* or inline-flex */
  }
#shred {
    display: flex;
    background-color: rgb(133, 133, 133);
    border: 3px solid black;
    padding: 10px;
    max-width: 400px;
    margin: 160px 26px 50px 192px;
    -webkit-box-shadow: -1px -1px 78px 9px rgba(255,255,255,0.67);
    -moz-box-shadow: -1px -1px 78px 9px rgba(255,255,255,0.67);
    box-shadow: -1px -1px 78px 9px rgba(255,255,255,0.67);
}
/*Maintaining picture*/
#maintain {
    display: flex;
    background-color: rgb(133, 133, 133);
    border: 3px solid black;
    padding: 10px;
    max-width: 400px;
    margin: -578px 0px 0px 700px;
    -webkit-box-shadow: -1px -1px 78px 9px rgba(255,255,255,0.67);
    -moz-box-shadow: -1px -1px 78px 9px rgba(255,255,255,0.67);
     box-shadow: -1px -1px 78px 9px rgba(255,255,255,0.67);
}
/*--------------------Login styling---------------------*/

/*Login registration form*/
#login_form {
    background-color: rgba(161, 145, 145, 0.452);
    margin: 40px 0px 0px 225px;
    max-width: 50%;
    padding: 50px;
    font-style: italic;
}

/*Requirement box popup when password box is clicked*/
#requirement_box {
    display: none;
    position: relative;
    background-color: black;
    width: 340px;
    right: -515px;
    top: -348px;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    height: 239px;
}

#check_box {
    display: none;
    position: relative;
    background-color:black;
    width: 340px;
    right: -515px;
    top: -320px;
    padding: 25px;
    font-size: 15px;
}

.image_check {
    display: none;
    position: absolute;
    width: 60;
    height: 70px;
    top: 253px;
    left: 696px;
    clip: rect(18px,43px,53px,18px);
    z-index: 10;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    /*content: "&#10004;";*/
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -10px;
    /*content: "&#10006;";*/
}

/*Workout Fillout Form*/
#Fillout_Form {
    background-color: rgba(161, 145, 145, 0.452);
    margin: 40px 0px 0px 225px;
    max-width: 50%;
    padding: 50px;

}

#selection_box {
    background-color: rgb(168, 160, 160);
    position: relative;
    padding: 10px;
    right: -150px;
    width: 320px;
    top: 35px;
    text-align: center;
}


