/* Background Begins*/

body {
    background-image: url("https://i.ytimg.com/vi/BGtROJeMPeE/maxresdefault.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
    
    /* Background End */