/* Background Begins*/

body {
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Annie_0.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
    
/* Background End */