/* Background Begins*/

body {
    background-image: url("https://na.leagueoflegends.com/sites/default/files/upload/art/teambuilder-wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
    
/* Background End */

/* Nav Bar Begins */
#navBar {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

#float_left {
    float: left;
}

.float_right{
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Nav Bar Ends */

#registerBody{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    text-align: center;
    width: 450px;
    margin: auto;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: rgba(255, 255, 255, 0.75);
    color: #000;
    position: relative;
    padding: 5px;
    margin-top: 10px;
}

#message p {
    padding: 0px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}