
<app-manager></app-manager>
<h3>Here are all reimbursements</h3>
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
            <a class="btn btn-primary">Approve</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-danger">Reject</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">Reimbursement Id: </p>
      <p class="card-text">User Id:          </p>
      <p class="card-text">Position Id:      </p>
      <p class="card-text">Amount:           </p>
      <p class="card-text">Description:      </p>
      <p class="card-text">Time Submitted:   </p>
      <p class="card-text">Request Type Id:  </p>
      <p class="card-text">Request Status Id:</p>
    </div>
  </div>
