<div id="background">
  

<h1>Agent Missions</h1>
<div id="sidenav">
    <a routerLink="/manager" id="link">Home</a>
    <a routerLink="/agents" id="link">Employee</a>
    <a routerLink = "/agent/missions" id="link">Missions</a>
    <a routerLink = "/agnet/reimbursements" id="link">Mission Reimbursements</a>
    <a routerLink = "/logout" id="link">Logout</a>
    </div>
<table class="table table-dark">
  <thead>
    <tr>
      <td>Operation Name</td>
      <td>Operation Status</td>
    </tr>
  </thead>
  <tr *ngFor = "let m of missions">
    <td> {{ m.name }}</td>
    <td> {{ m.status}}</td>
   
  </tr>
  
</table>

</div>