
h1 {
    color: rgb(10, 206, 10);
}

p {
    text-align: center;
    color: red;
    margin-left: -55px;
}

#center {
   margin: 45px 500px 0px 400px;
   border: 1px solid black;
   height: 368px;
   width: 453px;
   padding: 20px;
   border-radius: 25px 25px 0px 0px;
   box-shadow: 6px 4px rgba(128, 128, 128, 0.582);
}


.button {
    background-color: rgba(128, 128, 128, 0.082);
    /* float: left; */
    font-size: 40px;
    padding: 13px 32px;
    height: 70px;
    width: 110px;
    border: 1px solid rgba(128, 128, 128, 0.336) 
}

#form0 {
    /* display: inline-block; */
    margin: 0px 0px 0px 0px;
    width: 440px;
    height: 70px;  
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 50px;
    border:solid 1px black;
 }

#form1 {
   display: inline-block;
   margin: 0px 0px 0px 0px;
}
#form2 {
   display: inline-block;
   margin: 0px 0px 0px 0px;
}
#form3 {
   display: inline-block;
   margin: 0px 0px 0px 0px;
}
#form4 {
   display: inline-block;
   margin: 0px 0px 0px 0px;
}
