<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserPendingServlet</servlet-name>
    <servlet-class>com.revature.servlets.UserPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPendingServlet</servlet-name>
    <url-pattern>/userPending</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserResolvedServlet</servlet-name>
    <servlet-class>com.revature.servlets.UserResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserResolvedServlet</servlet-name>
    <url-pattern>/userResolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.revature.servlets.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllPendingServlet</servlet-name>
    <servlet-class>com.revature.servlets.AllPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPendingServlet</servlet-name>
    <url-pattern>/allPending</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllResolvedServlet</servlet-name>
    <servlet-class>com.revature.servlets.AllResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllResolvedServlet</servlet-name>
    <url-pattern>/allResolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllRequestIdServlet</servlet-name>
    <servlet-class>com.revature.servlets.AllRequestIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllRequestIdServlet</servlet-name>
    <url-pattern>/allRequestId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.SubmitReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReimbursementServlet</servlet-name>
    <url-pattern>/submitReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.revature.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
</web-app>