<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>AjaxBankingProject</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxNavbarServlet</display-name>
    <servlet-name>AjaxNavbarServlet</servlet-name>
    <servlet-class>com.revature.servlets.AjaxNavbarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxNavbarServlet</servlet-name>
    <url-pattern>/AjaxNavbarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxDashboardServlet</display-name>
    <servlet-name>AjaxDashboardServlet</servlet-name>
    <servlet-class>com.revature.servlets.AjaxDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxDashboardServlet</servlet-name>
    <url-pattern>/AjaxDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxBankInfoServlet</display-name>
    <servlet-name>AjaxBankInfoServlet</servlet-name>
    <servlet-class>com.revature.servlets.AjaxBankInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxBankInfoServlet</servlet-name>
    <url-pattern>/AjaxBankInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxDoTransactionServlet</display-name>
    <servlet-name>AjaxDoTransactionServlet</servlet-name>
    <servlet-class>com.revature.servlets.AjaxDoTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxDoTransactionServlet</servlet-name>
    <url-pattern>/AjaxDoTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxProcessTxServlet</display-name>
    <servlet-name>AjaxProcessTxServlet</servlet-name>
    <servlet-class>com.revature.servlets.AjaxProcessTxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxProcessTxServlet</servlet-name>
    <url-pattern>/AjaxProcessTxServlet</url-pattern>
  </servlet-mapping>
</web-app>