<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink='/employee'>Home</a>
  </li>
  <li *ngIf='logged.getLoggedUser().positionId===2' class='nav-item'>
    <a class='nav-link' routerLink='/{{logged.getLoggedUser().position}}'>Manager</a>
  </li>
  <li *ngIf='logged.getLoggedUser().positionId===1' class="nav-item">
    <a class="nav-link" routerLink='/{{logged.getLoggedUser().position}}/submit'>Submit</a>
  </li>
  <li *ngIf='logged.getLoggedUser().positionId===2' class="nav-item">
    <a class="nav-link" routerLink='/{{logged.getLoggedUser().position}}/employees'>Employees</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id=logout routerLink='/{{logged.getLoggedUser().position}}/account'>Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id=logout (click)='logout()' routerLink='/'>Log out</a>
  </li>
</ul>