<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>KingsGame</display-name>
	 <!-- alias of a servlet for protection
	 (different name so hackers can't see our class) -->
<filter>
   <filter-name>CorsFilter</filter-name>
   <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
   <init-param>
     <param-name>cors.allowed.origins</param-name>
     <param-value>*</param-value>
   </init-param>
   <init-param>
     <param-name>cors.allowed.methods</param-name>
     <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
   </init-param>
 </filter>
 <filter-mapping>
   <filter-name>CorsFilter</filter-name>
   <url-pattern>/*</url-pattern>
 </filter-mapping>

  <servlet>
	 		<servlet-name>create</servlet-name>
	 		<servlet-class>com.kingsgame.servlets.CreateServlet</servlet-class>
	 		</servlet>
	 		<servlet-mapping> <!-- use alias of servlet -->
	 		<servlet-name>create</servlet-name>
	 		<url-pattern>/reim/user</url-pattern>
	 		</servlet-mapping>
	 		
	 		<servlet>
	 		<servlet-name>login</servlet-name>
	 		<servlet-class>com.kingsgame.servlets.LoginServlet</servlet-class>
	 		</servlet>
	 		<servlet-mapping> <!-- use alias of servlet -->
	 		<servlet-name>login</servlet-name>
	 		<url-pattern>/login</url-pattern>
	 		</servlet-mapping>
	 		
	 		<servlet>
	 		<servlet-name>new-re</servlet-name>
	 		<servlet-class>com.kingsgame.servlets.NewReServlet</servlet-class>
	 		</servlet>
	 		<servlet-mapping> <!-- use alias of servlet -->
	 		<servlet-name>new-re</servlet-name>
	 		<url-pattern>/reim/new</url-pattern>
	 		</servlet-mapping>
	 		
	 		<servlet>
	 		<servlet-name>all-re</servlet-name>
	 		<servlet-class>com.kingsgame.servlets.AllServlet</servlet-class>
	 		</servlet>
	 		<servlet-mapping>
	 		<servlet-name>all-re</servlet-name>
	 		<url-pattern>/reim/all</url-pattern>
	 		</servlet-mapping>
	 		
	 		<servlet>
	 		<servlet-name>all-users</servlet-name>
	 		<servlet-class>com.kingsgame.servlets.AllUsersServlet</servlet-class>
	 		</servlet>
	 		<servlet-mapping>
	 		<servlet-name>all-users</servlet-name>
	 		<url-pattern>/users/all</url-pattern>
	 		</servlet-mapping>
	 		
	 		<servlet>
	 		<servlet-name>mine-re</servlet-name>
	 		<servlet-class>com.kingsgame.servlets.MineServlet</servlet-class>
	 		</servlet>
	 		<servlet-mapping>
	 		<servlet-name>mine-re</servlet-name>
	 		<url-pattern>/reim/mine</url-pattern>
	 		</servlet-mapping>
	 		
	 		<servlet>
	 		<servlet-name>mgr-update</servlet-name>
	 		<servlet-class>com.kingsgame.servlets.UpdateServlet</servlet-class>
	 		</servlet>
	 		<servlet-mapping>
	 		<servlet-name>mgr-update</servlet-name>
	 		<url-pattern>/reim/update</url-pattern>
	 		</servlet-mapping>
	 		
	 		<servlet>
	 		<servlet-name>type</servlet-name>
	 		<servlet-class>com.kingsgame.servlets.TypeServlet</servlet-class>
	 		</servlet>
	 		<servlet-mapping>
	 		<servlet-name>type</servlet-name>
	 		<url-pattern>/util/type</url-pattern>
	 		</servlet-mapping>
</web-app>