/* 
login.css: styles for the login page/component
*/

/* 
HTML Elements
*/
header{
    /* to center an element */
    max-width: 100%;
    margin: auto;
    /* to center text */
    background-color: rgba(97, 97, 95, 0.616);
    text-align: center;
    padding: 15px;

    font-size: 25px;
}

body{
    margin: 0;
}
/* 
HTML IDs
*/
#loginform{
    background-color: white;
    max-width: 400px;
    margin: auto;
    border: solid black;
    font-weight: bold;
    text-align: center;

}
#loginbody{
    background-image: url("https://www.nature.org/cs/groups/webcontent/@web/@rhodeisland/documents/media/hpsp-bradford-dam.jpg");
}
