
/* HTML Elements */
#movieSearch {
    width: 500px;
    margin: auto;
    text-align: center;
}

.search {
    margin-left: 30%;
}

h2 {
    text-align: center;
    margin-top: 20px;
}
/* Class Elements */


/* .genreCol {   
    float: inherit;
    width: 300px;
    height: auto;
    padding: 20px 0;
} */

/* ID Elements */

/* #genreMovieSection {
    background-color: maroon;
} */

#moviesRow {
    float: left;
    width: 100%;
    margin-top: 20px;
    background-color: maroon;
}

#modalMoviePoster {
    width: 200px;
    height: auto;
    margin: auto;
}

#modalMovieTitle {
    text-align: center;
}

#modalMovieSummary {
    margin-top: 20px;
}

/* Genre movie spacing */