form {
    width: 500px;
    margin: auto;
}

/* class css */

.popup {
  position: relative;
  /* display: inline-block; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  cursor: default;
  width: 205px;
  background-color: rgb(57, 179, 216);
  color: #fff;
  /* text-align: center; */
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 52%;
  margin-bottom: -40px; 
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 2%;
  margin-left: -10px;
  margin-top: -15px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(57, 179, 216) transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

/* .popup .hide {
  visibility: hidden;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
} */

.validationDiv {
  font-size: 12px;
}

.checkmark {
  width: 25px;
  height: auto;
  position: relative;
  visibility: hidden;
}