
/*Html Elements  */

body {
    margin: 0;
}

a {
    text-decoration: none !important;

}

/* Class Elements */

.moviePoster {
    width: 66%;
    height: auto;
    align-content: center;
    margin: auto;
}

.next {
    float: right;
    margin-top: -60px; 
    /* display: inline-block; */
    z-index: 1; 
    /* position: absolute; */
}

.previous {
    float: left;
    margin-top: -60px; 
    /* display: inline-block; */
    z-index: 1;
}

.movieTitleHome {
    text-align: center;
    color: white;
}

.registerBtn {
    margin-right: 10px;
}

.headerIcon{
    width: 30px;
    height: auto;
}

.hidden {
    visibility: hidden;
    display: none;
}

.movieRow {
    float: left;
    width: 100%;
    background-color: maroon;
    margin-top: 20px; 
}

/* ID Elements */


#movieSection h1{
    padding-left: 50px;
} 

#Statement {
    text-align: center;
}

#Slogan {
    text-align: center;
}

/* Movie column spacing */
.movieRow > .movieColumn{
    box-sizing: border-box;
    display: inline-block;
    width: 19.5%;
    text-align: center;
    margin: 40px 0; 
}

.movieColumn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalMoviePoster {
    width: 200px;
    height: auto;
    margin: auto;
}

#modalMovieTitle {
    text-align: center;
}

#modalMovieSummary {
    margin-top: 20px;
}