
/*Html Elements  */

body {
    margin: 0;
}

/* nav {
    position: fixed;
} */
/* Class Elements */

.moviePoster {
    width: 66%;
    height: auto;
    align-content: center;
    margin: auto;
}

/* .movieColumn {   
    float: inherit;
    width: 300px;
    height: auto;
    padding: 20px 0;
} */

.movieTitleHome {
    text-align: center;
    color: white;
}

.registerBtn {
    margin-right: 10px;
}

.headerIcon{
    width: 30px;
    height: auto;
}

/* ID Elements */

#movieRow {
    float: left;
    width: 100%;
    background-color: maroon;
    margin-top: 20px; 
}

#movieSection h1{
    padding-left: 50px;
} 

/* #mainHead {
} */

#Statement {
    text-align: center;
}

#Slogan {
    text-align: center;
}

/* Movie column spacing */
#movieRow > .movieColumn{
    box-sizing: border-box;
    display: inline-block;
    width: 19.5%;
    text-align: center;
    margin: 40px 0; 
}

.movieColumn:hover {
    transform: scale(1.1);
}

