

/* HTML elements */
/* div{
    background-image: url('https://i.ytimg.com/vi/XtIx5nLSo4w/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */

/* IDs */

#login{
    text-align: center;
}

#loginBtn{
   
}


/* Classes */

.loginInput{
    
}