<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{title}}</span>
    </div>
    <div class="panel-body">
        <img class="image-center" src="{{image}}" />
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>public</strong> (by default).
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>protected</strong>.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>private</strong>.
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="{{documentation}}">Documentation</a>
    </div>
</div>