<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{title}}</span>
    </div>
    <div class="panel-body">
        <img class="image-center" src="{{image}}" />
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                Similar to <strong>annotations</strong> in <strong>Java</strong>.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                They can be <strong>attached</strong> to <strong>classes</strong>, <strong>methods</strong> and/or <strong>properties</strong>.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                They will provide additional <strong>behavior</strong> at <strong>runtime</strong>.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                They are used to hold <strong>metadata</strong> in Angular.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                Angular provides its own decorators like <strong>@Component</strong>, <strong>@NgModule</strong>, <strong>@Injectable</strong> and more.
            </div>            
        </div>
    </div>
    <div class="panel-footer">
        <a href="{{documentation}}">Documentation</a>
    </div>
</div>