<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">User Info</h1>
      <p class="lead">Welcome Back! All of your user info will appear here!</p>
      <img src="https://wallpaperstock.net/new-year-snowflake-cookies-wallpapers_35666_1920x1200.jpg" alt="">
    <form action="">
     <div>
          User id = {{user.uId}} <br>
          Email = {{user.email}} <br>
          Password = {{user.password}} <br>
          First Name = {{user.fName}} <br>
          Last Name = {{user.lName}}

     </div>
     
        
      
    </form>
    </div>
  </div>