.card-img-top {
    padding: 2rem;
}

a:hover {
    cursor:pointer;
}

.card {
    display: inline-block;
    width: 10rem;
    margin: 15px;
    /* height: 40rem; */
}

.captured {
    background-color: rgb(223, 255, 244);
}

.inactive{
    background-color: grey;
}