.form-group {
    color:forestgreen;
    border-color: darkred;
    /* color: white;
    background-color: forestgreen; */
}

.form-control {
    color:forestgreen;
    border-color: darkred;
    /* color: white;
    background-color: forestgreen; */

}

#btn {
    color:forestgreen;
    border-color: darkred;
    width: 180px;
    }
    /* color: white;
    background-color: forestgreen; */


.form {
    color:forestgreen;
    border-color: darkred;
    /* color: white;
    background-color: forestgreen; */
}

.formBtn {
    color:white;
    border-color: darkred;
    width: 180px;
    background-color: forestgreen
}

#label {
    color:forestgreen;
    border-color: darkred;
}