<app-navbar></app-navbar>
<form class="form">
  <!-- <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div> -->
  <div class="form-group">
    <label for="exampleFormControlSelect1"></label>
    <select #rqTypeId class="form-control" id="exampleFormControlSelect1">
      <option>Select what you need!</option>
      <option value= "1">Candy</option>
      <option value= "2">Candy Canes</option>
      <option value="3">Candy Corns</option>
      <option value="4">Syrup</option>
    </select>
  </div>
  <label id="label" for="amount"></label>
  <input class="form-control" type="number" name="amount" id="amount" min="0" #amt placeholder="How many pounds?" >
  <div class="form-group">
    <label for="exampleFormControlTextarea1"></label>
    <textarea #description class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Add a description!"></textarea>
  </div>
  <div id = 'btn'>
    <input (click)="newReim(amt.value, description.value, rqTypeId.value)" class="formBtn" id = "editProfileBtn" type="button" value="Submit!" style="width: 300px;">
</div>
</form>

