<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>ProjectOne</display-name>

	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Reimbursement Servlet -->
	<servlet>
		<servlet-name>reimbursement</servlet-name>
		<servlet-class>com.revature.servlet.ReimbursementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reimbursement</servlet-name>
		<url-pattern>/reimbursement</url-pattern>
	</servlet-mapping>

	<!-- Pending Reimbursement Servlet -->
	<servlet>
		<servlet-name>pendingReimbursement</servlet-name>
		<servlet-class>com.revature.servlet.PendingReimbursementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pendingReimbursement</servlet-name>
		<url-pattern>/reimbursement/pending</url-pattern>
	</servlet-mapping>
	<!-- Approved Reimbursment Servlet -->
	<servlet>
		<servlet-name>approvedReimbursement</servlet-name>
		<servlet-class>com.revature.servlet.ApprovedReimbursementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>approvedReimbursement</servlet-name>
		<url-pattern>/reimbursement/approved</url-pattern>
	</servlet-mapping>
	<!-- Denied Reimbursement Servlet -->
	<servlet>
		<servlet-name>deniedReimbursement</servlet-name>
		<servlet-class>com.revature.servlet.DeniedReimbursementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deniedReimbursement</servlet-name>
		<url-pattern>/reimbursement/denied</url-pattern>
	</servlet-mapping>
	<!-- GetUserByEmail Servlet -->
	<servlet>
		<servlet-name>getUserByEmail</servlet-name>
		<servlet-class>com.revature.servlet.UserInformationByEmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getUserByEmail</servlet-name>
		<url-pattern>/user/email</url-pattern>
	</servlet-mapping>
	<!-- CreateReimbursement Servlet -->
	<servlet>
		<servlet-name>createReimb</servlet-name>
		<servlet-class>com.revature.servlet.CreateReimbursementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createReimb</servlet-name>
		<url-pattern>/reimbursement/create</url-pattern>
	</servlet-mapping>
	<!-- ValidateUser Servlet -->
	<servlet>
		<servlet-name>validateUser</servlet-name>
		<servlet-class>com.revature.servlet.ValidateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>validateUser</servlet-name>
		<url-pattern>/reimbursement/v</url-pattern>
	</servlet-mapping>
	<!-- UpdateUser Servlet -->
	<servlet>
		<servlet-name>updateUser</servlet-name>
		<servlet-class>com.revature.servlet.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateUser</servlet-name>
		<url-pattern>/user/update</url-pattern>
	</servlet-mapping>
	<!-- GetAllUsers Servlet -->
	<servlet>
		<servlet-name>getAllUsers</servlet-name>
		<servlet-class>com.revature.servlet.GetAllUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAllUsers</servlet-name>
		<url-pattern>/user/getAll</url-pattern>
	</servlet-mapping>

</web-app>