<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{title}}</span>
    </div>
    <div class="panel-body">
        <img class="image-center" src="{{image}}" />
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                Makes Angular applications <strong>modular</strong>.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                They are normally described in a <strong>.module.ts</strong> file.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                They are defined with the <strong>{{subTitleNgModule}}</strong> decorator.
            </div>
        </div>        
    </div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{subTitleNgModule}}</span>
    </div>
    <div class="panel-body">
        <img class="image-center" src="{{subTitleImageNgModule}}" />
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                The <strong>{{subTitleNgModule}}</strong> decorator receives <strong>metadata</strong>.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                The <strong>metadata</strong> tells Angular how to <strong>compile</strong> and <strong>launch</strong> the app.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>Components</strong> and <strong>Pipes</strong> go in the <strong>declarations</strong> section.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                Other <strong>modules</strong> go in the <strong>imports</strong> section.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>Services</strong> go in the <strong>providers</strong> section.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                In the <strong>bootstrap</strong> we define which <strong>component</strong> loads first.
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="{{documentation}}">Documentation</a>
    </div>
</div>