<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ExpenseReimbursementProj</display-name>
  <servlet>
    <description></description>
    <display-name>IdReimbursementServlet</display-name>
    <servlet-name>IdReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.IdReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdReimbursementServlet</servlet-name>
    <url-pattern>/reimbursement/id</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusReimbursementServlet</display-name>
    <servlet-name>StatusReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.StatusReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusReimbursementServlet</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusReimbursementIdServlet</display-name>
    <servlet-name>StatusReimbursementIdServlet</servlet-name>
    <servlet-class>com.revature.servlets.StatusReimbursementIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusReimbursementIdServlet</servlet-name>
    <url-pattern>/reimbursement/id/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllReimbursementServlet</display-name>
    <servlet-name>AllReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.AllReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllReimbursementServlet</servlet-name>
    <url-pattern>/reimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllEmployeesServlet</display-name>
    <servlet-name>GetAllEmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmployeesServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
</web-app>