<div class="jumbotron">
  <h1 class="display-4">Employee Profile:</h1>
  
<!-- List group -->
<div class="list-group" id="myList" role="tablist">
  USER ID:<a class="list-group-item list-group-item-action list-group-item-success" data-toggle="list" href="#home" role="tab"></a>
  FIRST NAME:<a class="list-group-item list-group-item-action list-group-item-success" data-toggle="list" href="#profile" role="tab">Profile</a>
  LAST NAME:<a class="list-group-item list-group-item-action list-group-item-success" data-toggle="list" href="#messages" role="tab">Messages</a>
  EMAIL:<a class="list-group-item list-group-item-action list-group-item-success" data-toggle="list" href="#settings" role="tab">Settings</a>
  PASSWORD:<a class="list-group-item list-group-item-action list-group-item-success" data-toggle="list" href="#settings" role="tab">Settings</a>
  POSITION ID:<a class="list-group-item list-group-item-action list-group-item-success" data-toggle="list" href="#settings" role="tab">Settings</a>
</div>

  <hr class="my-4">
  
  <div class="row">
    <div class="col">
      <a class="btn btn-primary btn-lg" routerLink="/home" role="button">Home</a>
    </div>
    <div class="col">
      <a class="btn btn-primary btn-lg" routerLink="/#" role="button">Update Profile</a>
    </div>
  </div>
  
  
  
</div>