<div class="form-group mx-auto rounded border border-dark bg-secondary">
  <input class="form-control" type="number" name="amount" id="amount" #amount placeholder="Amount" required>
  <input class="form-control" type="text" name="description" id="description" #description placeholder="Description">
  <select #sel class="form-control" name="type" id="type">
    <option value="1">Dining</option>
    <option value="2">Lodging</option>
    <option value="3">Certification</option>
    <option value="4">Travel</option>
    <option value="5">Other</option>
  </select>
  <div class="custom-file">
    <img *ngIf='url' src="{{url}}" alt="">
    <div *ngIf='!filename'></div>
    <div>{{filename}}</div>
    <input style="display: none" type="file" base-sixty-four-input (change)="onFileChanged($event)" #fileInput>
    <button class='btn btn-light' (click)="fileInput.click()">Select Image</button>
  </div>
  <div class='center'>
    <button class="btn btn-light mx-auto" type="submit" (click)='submitNewReimbursement(amount.value, description.value, sel.value)'>Submit
      Reimbursement
    </button>
  </div>
  <div *ngIf="success===1" class="alert alert-success alert-dismissible fade show" role="alert">
    Reimbursement submitted!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)=successClear()>&times;</span>
    </button>
  </div>
  <div *ngIf="success===0" class="alert alert-danger alert-dismissible fade show" role="alert">
      Enter amount!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" (click)=successClear()>&times;</span>
      </button>
    </div>
</div>