/* TAGS */


nav{
    max-width: 100%;
    display: flex ;
    width: 100%;
}


/* CLASSES */
.btn{
    background-color: #ff5722;
}

.container{
    background-color: whitesmoke;
    border-radius: 1mm;
}

.cover-heading{
    padding: 5px;
    border-radius: 1mm;
  }