/* TAGS */

input{
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* CLASSES */
.form-center{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background: whitesmoke;
    border-radius: 1mm;
}

.company-name{
    color: white;
    display: inline-block;
    padding: 7px;
    line-height: 1;
    border-radius: 1mm;
}

.custum-btn{
    /* display: block; */
    width: 100%;
}
.custom-btn-top{
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-bottom: -1px;
}
.custom-btn-middle{
    border-radius: 0%;
    margin-bottom: -2px;
}

.custom-btn-bottom{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    margin-bottom: 15px;
}

/* IDs */

#registerSubmit{
    width: 100%;
    background-color: #64ba69;
    border-radius: 1mm;
}