/* CLASSES */
.form-center{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background: whitesmoke;
    border-radius: 1mm;
}

.company-name{
    color: white;
    background-color: #004ba0;
    display: inline-block;
    padding: 7px;
    line-height: 1;
    border-radius: 1mm;
}

/* IDs */
#registerUsername{
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-bottom: -1px;
}
#registerEmail{
    border-radius: 0%;
    margin-bottom: -2px;
}

#registerPassword{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    margin-bottom: 10px;
}

#registerSignIn{
    width: 100%;
    background-color: #64ba69;
    border-radius: 1mm;
}