.flex-container {
   padding: 0;
   margin-top: 0%;
   list-style: none;
   
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   justify-content: center;
 }
 .flexTitle {
  border: 0px solid black;
  padding: 5px;
  width: 30%;
  height: 8%;
  justify-content: center;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
 }

 .flexitem-left {
   border: 0px solid black;
   padding: 5px;
   width: 30%;
   height: 40%;
   margin-top: 0px;
   color: black;
   font-weight: bold;
   font-size: 10px;
   text-align: center;
   box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
 }
 .flexitem-mid {

  padding: 5px;
  width: 30%;
  height: 40%;
  margin-top: 0px;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  border-radius: 24px;

}
.flex-item {
  border: 0px solid black;
  padding: 5px;
  width: 30%;
  height: 40%;
  margin-top: 0px;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.flexitem-right {
  border: 0px solid black;
  padding: 5px;
  width: 30%;
  height: 40%;
  margin-top: 0px;
  -webkit-flex-flow: row wrap;
  color: black;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
 .flexBtn {
  border: 0px solid black;
  padding: 5px;
  width: 30%;
  margin-top: 0px;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  border-radius: 12px;
 }



 /* end of flexbox */

 .lsrBtn {
   background: #3D94F6;
  background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
    border-radius: 10px;
    color: #FFFFFF;
      font-family: Verdana;
    font-size: 30px;
      margin: 10px;
      padding:10px;
      box-shadow: 1px 1px 20px 0px #000000;
      -webkit-box-shadow: 1px 1px 20px 0px #000000;
      -moz-box-shadow: 1px 1px 20px 0px #000000;
      text-shadow: 1px 1px 20px #000000;
      border: solid #337FED 1px;
      text-decoration: none;
     display: inline-block;
     cursor: pointer;
  }

#mealPic{
width: 80%;
height: 80%;
border-radius: 12px;
border: 3px double rgba(0, 0, 0, 0.502);
-webkit-box-shadow: 0px 0px 15px 5px #000000; 
box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
}

.inputStyle{
  border: 2px solid #848484;  
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px; 
  outline:0; 
  height:10%; 
  width: 20%; 
  margin: 2%;
  padding-left:5px; 
  padding-right:5px; 
  font-size: 20px;
  font-family: 'Gill Sans';
  
  text-align: center;
  display: inline-flex;
}

.inputStyleA{
  border: 2px solid #848484;  
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
      border-radius: 10px; 
      outline:0; 
      height:20%; 
      width: 47.5%; 
      margin-top: 5px;
      padding-left:10px; 
      padding-right:10px; 
      font-size: 30px;
      font-family: 'Gill Sans';
      text-align: center;
      display: inline-flex;
}
.inputStyleAR{
  border: 2px double #848484;  
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
      border-radius: 5px; 
      outline:0; 
      height:15%; 
      width: 75%; 
      margin-top: 5px;
      padding-left:10px; 
      padding-right:10px; 
      margin: 2%;
      font-size: 30px;
      font-family: 'Gill Sans';
      text-align: center;
      display: inline-flex;
}
.inputStyleBR{
  border: 2px solid #848484;  
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px; 
  outline:0; 
  height:10%; 
  width: 25%; 
  margin: 2%;
  font-size: 20px;
  font-family: 'Gill Sans';
  text-align: center;
  display: inline-flex;
  
}
.inputStyleCR{
  border: 2px solid #848484;  
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
      border-radius: 10px; 
      outline:0; 
      height:35%; 
      width: 85%; 
      margin-top: 5px;
      padding-left:10px; 
      padding-right:10px; 
      font-size: 25px;
      font-family: 'Gill Sans';
      text-align: center;
      display: inline-flex;
}
.inputStyleB{
  border: 2px solid #848484;  
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px; 
  outline:0; 
  height:20%; 
  width: 45%; 
  margin: 2%;
  font-size: 20px;
  font-family: 'Gill Sans';
  text-align: center;
  display: inline-flex;
  
}

.inputStyleC{
  border: 2px solid #848484;  
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px; 
  outline:0; 
  height:20%; 
  width: 30%; 
  margin: 5px;
  padding-left:10px; 
  padding-right:10px; 
  font-size: 20px;
  font-family: 'Gill Sans';
  
  text-align: center;
  display: inline-flex;
}

