<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>expenseProject</display-name>
  <servlet>
    <servlet-name>helloALIAS</servlet-name>
    <servlet-class>com.revature.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloALIAS</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllReimbursementsServlet</display-name>
    <servlet-name>AllReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.servlets.AllReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllReimbursementsServlet</servlet-name>
    <url-pattern>/AllReimbursementsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneReimbursementServlet</display-name>
    <servlet-name>OneReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.OneReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneReimbursementServlet</servlet-name>
    <url-pattern>/OneReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxTxServlet</display-name>
    <servlet-name>AjaxTxServlet</servlet-name>
    <servlet-class>com.revature.servlets.AjaxTxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTxServlet</servlet-name>
    <url-pattern>/AjaxTxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReimbursementServlet</display-name>
    <servlet-name>AddReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.AddReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReimbursementServlet</servlet-name>
    <url-pattern>/AddReimbursementServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentationServlet</display-name>
    <servlet-name>DocumentationServlet</servlet-name>
    <servlet-class>com.revature.servlets.DocumentationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentationServlet</servlet-name>
    <url-pattern>/expenseProjectAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveRequest</display-name>
    <servlet-name>ApproveRequest</servlet-name>
    <servlet-class>com.revature.servlets.ApproveRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveRequest</servlet-name>
    <url-pattern>/ApproveRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllUsersServlet</display-name>
    <servlet-name>ViewAllUsersServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllUsersServlet</servlet-name>
    <url-pattern>/ViewAllUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUsersServlet</display-name>
    <servlet-name>EditUsersServlet</servlet-name>
    <servlet-class>com.revature.servlets.EditUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUsersServlet</servlet-name>
    <url-pattern>/EditUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementByUserIdServlet</display-name>
    <servlet-name>ReimbursementByUserIdServlet</servlet-name>
    <servlet-class>com.revature.servlets.ReimbursementByUserIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementByUserIdServlet</servlet-name>
    <url-pattern>/ReimbursementByUserIdServlet</url-pattern>
  </servlet-mapping>
</web-app>