<div>
  <form class="form" id='login'>
    Email:
    <br>
    <input class='input loginInput' id='email' #email type="text">
    <br> Password:
    <br>
    <input class='input loginInput' id='password' #password type='password'>
    <br>
    <div class="alert alert-danger" role="alert">
      Login Failed!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <input (click)="login(email.value, password.value)" class="formBtn" id='loginBtn' type="button" value="Login">
  </form>
</div>