<h2>Your Reimbursements</h2>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Amount</th>
      <th scope="col">Request Type</th>
      <th scope="col">Status</th>
      <th scope="col">Description</th>
      <th scope="col">Time Submission</th>
    </tr>
  </thead>
  <a *ngIf='post.emp_U_Id === user.u_Id'>
    <tbody>
      <tr *ngFor="let post of postR">

        <th scope="row"> {{ post.r_Id}} </th>
        <td> {{ post.amt}} </td>
        <td> {{ post.rq_Type_Id}} </td>
        <td> {{ post.rq_Status_Id}} </td>
        <td> {{ post.description}} </td>
        <td> {{ post.timeSubmission}} </td>
      </tr>
    </tbody>
  </a>
</table>