/* 
Register.css: styles for the login page/component
*/

/* HTML ELEMENTS */

#navbar {
    background-color: rgba(255, 255, 255, 0.75)
}

header {
    height: 100px;
    background: whitesmoke; /* For browsers that do not support gradients */
    background: linear-gradient(rgba(255, 255, 255, 0.75), transparent); /* Standard syntax (must be last) */
    text-align: center;
    font-size: 15px;
    padding: 2px;
    border-bottom-color: 3zpx rgb(0, 0, 0);
}

/* HTML IDs */

#registerForm {
    border: 1px dotted green;
    font-weight: bolder;
/* center loginForm Elements */
max-width: 200px;
margin: auto;
margin-top: 150px;
padding: 5px;
background-color: rgba(211, 211, 211, 0.719);
text-align: center;
box-shadow: 10px 10px 5px black;

}

#registerBody {
    background: url();

    float: center;
}

/* HTML Classes */

.tampa { 
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/stardust.png) no-repeat center center fixed; 
    background-size: cover;
  }