/**Navagation list**/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/**body config**/
body{
    margin-top: 0;
    margin: 0;
    font-style: oblique;
    background-color: whitesmoke;
}

/**navagation bar tab location**/
li {
    float: left;
}

/**Drop down list**/
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/**Hover on drop list**/
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/**Drop down**/
li.dropdown {
    display: inline-block;
}

/**Drop down background**/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/**Drop down content's text**/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/**drop down when highlighted**/
.dropdown-content a:hover {
    background-color: #f1f1f1
}


.dropdown:hover .dropdown-content {
    display: -webkit-box;
}

/**about me tab**/
.float-right{
    float: right;
}

/**Centering the Picture**/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 50%;
}

/**paragrapgh indent**/
div.a {
    text-indent: 50px;
}

/*div element*/
div {
    margin-left: 50px;
    margin-right: 50px;
}

/*header 2 element*/
h2 {
    margin-left: 50px;
}

#welcome {
    float: right;
}

#signUp-headOne {
    background-color:white;
    text-align: center;
    font-size: 40px; 
    margin-top: 25%;
    
}

#signUp-div1 {
    background-color: white;
    text-align: center;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px auto;
 
    font-size: 20px;
}

#signUp-div2 {
    background-color: white;
    text-align: center;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;

    font-size: 10px;
}

.signUp-input {
    width: 65%;
    height: 35px;
    margin-bottom: 15px;
}

#signUp-uList {
    background-color: white;
   height: 100px;
}