

#formLogo {
    text-align: center;
    padding: 35px 0px 15px;
}


#stockInputs {
    background-color: white;
    border: 1px solid #DEA527;
    font-weight: bold;
    text-align: center; /* text inside the element */
    padding: 20px;
    /* center loginForm element */
    max-width: 450px;
    margin: auto;
}

#title {
    padding: 1px 1px;
    margin: 1px 1px;
    font-family: Arial, Helvetica, sans-serif
}

.label {
    text-align: left;
    font-size: 15px;
}

#stock {
    font-size: 25px;
    width: 100%; 
    height: 30px;   
    border-radius: 10px;
    border: 2px solid  #1a2c56;
}





#date {
    font-size: 25px;
    width: 100%; 
    height: 37px;   
    border-radius: 10px;
    border: 2px solid  #1a2c56;
}

#stat {
    font-size: 25px;
    /* color: #1a2c56; text color */
        /* background-color: #1a2c56; */
    border-radius: 10px;
    width:  100%;
    height: 37px;
    border: 2px solid  #1a2c56;
}

.inputTxt {
    text-align: left;
    font-size: 15px;
}

#stockButton {
    
        font-size: 25px;
        color: white; /* text color */
        height: 35px;
        background-color: #1a2c56;
        border-radius: 10px;
        width:  100%;
        height: 35px;
    
}

#StockButton:hover {

    /* swap the color and background-color on mouse hover */
    color:  #1a2c56;
    background-color: white;

}

#stockData {
    color: #1a2c56;
    font-size: 25px;

}

