html { 
    background: url("https://images.unsplash.com/photo-1501785897315-351c911900cb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=97f666641c8e688ff97c6cef10b6fe63&auto=format&fit=crop&w=1650&q=80") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }
body{
    z-index: -1;
    margin-top: 0%;
}
h1{
    color: white;
    font-size: 90px;
    word-break: break-all;
    margin-bottom: 0%;
} 
.logo{
    width: 90%;
    margin-left: 4%;
}
h2{
    color: white;
    margin-left: 1%;
} 
.main-column{
    margin-left: 15%;
    margin-top: 5%;
   width: 70%;
   height: fit-content;
    background-color: rgb(33, 33, 33);
}
#column2{
    margin-top: 15%;

}
#column3{
    margin-top: 15%;
}
ul {
    position: fixed;
    text-align: center;
    list-style-type: none;
    margin-top: 0%;
    margin-left: 0%;
    padding: 0;
    width: 14.9%;
    background-color: #f1f1f1;
}
#jumpbtn{
   margin-left: 84%;
    position: fixed;
    background-color: rgb(33, 33, 33);
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: rgb(33, 33, 33);
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.login{
    background-color: rgb(128, 0, 0);
    color: white;
}
* {
    box-sizing: border-box;
}
.image{
    width:100%; 
    image-resolution:300dpi;
    padding: 1%;    
}
.color-white
{
    color: white;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: rgb(95, 196, 28);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
input{
    margin-top: 5%;
}

