.bg-orange {
    background: rgb(242, 105, 37) !important;
    color: white;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

input {
    width: 100%;
    max-width: 125px;
    padding: 4px;
    border: 0;
    border-bottom: 2px solid rgb(242, 105, 37);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}

input[name=datepickerInput] {
    width: 85%;
    border-bottom-right-radius: 0px;
}

input[name=topic], input[name=subtopic] {
    max-width: 165px;
    width: 100%;
}

.calendar {
    position: absolute;
    background: #f26925;
    height: 100%;
    width: 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    padding: 6px;
    cursor: pointer;
    transition: ease 0.3s;
}

.calendar:hover {
    background: #f15000;
}

.calendar i {
    color: white;
    font-size: 20px;
}

.vl {
    position: absolute;
    border-left: 1px solid hsla(0,0%,5%,.1);
    height: 100%;
    left: 0;
}

.buttons {
    background: #f26925;
    color: white;
    border-radius: 4px;
    padding: 6px 12px;
    border-bottom: 2px solid rgba(0,0,0,0);
}

a {
    color: white !important;
}

.buttons:hover {
    background: #f15000;
    border-bottom: 2px solid white;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}

.active {
    background: #f15000;
    border-bottom: 2px solid white;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}

.buttons-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.buttons-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.buttons-middle {
    border-radius: 0;
}

.buttons-today {
    margin-right: 10px;
}

.buttons-list {
    margin-left: 10px;
}

.delete {
    font-size: 100px;
    color: rgb(242, 105, 37);
}

.delete i:hover{
    cursor: pointer;
    color: #f15000;
}

.padding-top {
    padding-top: 15px;
}

/* Override bootstrap */
.col-sm {
    padding: 0;
}

.col-md-12 {
    max-width: 1200px;
    margin: 0 auto;
}

.col-md-12 .vl {
    display: none;
}

.btn:focus {
    box-shadow: none;
}
/* End bootstrap override */

.event-panel {
    display: none;
    text-align: center;
}

.event-panel-left {
    display: inline-block;
    text-align: left;
}

.event-options-wrapper {
    position: relative;
    z-index: 2;
}

.event-options {
    position: fixed;
    border-radius: 50%;
    padding: 12px 4px;
    max-width: 55px;
    max-height: 55px;
    bottom: 25px;
    left: 25px;
    opacity: 0.6;
}

.event-options button{
    background: rgba(0,0,0,0);
    border: 0;
    color: white;
}

.event-options i {
    font-size: 30px;
    margin: -6px 0px 0px -2px;
    -webkit-box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.75);
}

.event-options:hover {
    opacity: 1;
    -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
}

@media (max-width: 991px) {
    /* Override bootstrap */
    .text-right {
        text-align: left !important;
        padding-top: 15px;
    }
    /* End bootstrap override */
}

@media (max-width: 768px) {
    .event-panel {
        display: none;
    }

    input {
        max-width: 100%;
    }

    input[name=topic], input[name=subtopic] {
        max-width: 100%;
    }
}
