<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" style="background-color: #e3f2fd; opacity: 0.85;">
    <a class="navbar-brand" href="#">ERS Express</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/', 'home']" >Home
              <!-- [routerLink]="['/', {{user.pos_id}}, 'home']" -->
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Reimbursements</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <button id="logoutBtn" class="btn btn-outline-secondary" [routerLink]="['/','login']">Logout</button>

    </div>
  </nav>
</div>
