<div class="jumbotron">
  <div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <h1 class="display-4">Employee Profile:</h1>
    <h1 class="display-4">Dwight Schrute</h1>
  </div>
  <img src="https://pbs.twimg.com/profile_images/549268771484229632/WnatiHzT_400x400.jpeg" class="img-thumbnail">

  <!-- List group -->
  <div class="list-group list-group shadow-lg p-3 mb-5 bg-white rounded" id="myList" role="tablist">
    USER ID:<a class="list-group-item list-group-item-action list-group-item-success" data-toggle="list" href="#home" role="tab">{{user.uid}}</a>
    FIRST NAME:<a class="list-group-item list-group-item-action list-group-item-success" data-toggle="list" href="#profile"
      role="tab">{{user.fname}}</a>
    LAST NAME:<a class="list-group-item list-group-item-action list-group-item-success" data-toggle="list" href="#messages"
      role="tab">{{user.lname}}</a>
    EMAIL:<a class="list-group-item list-group-item-action list-group-item-success" data-toggle="list" href="#settings" role="tab">{{user.email}}</a>
    PASSWORD:<a class="list-group-item list-group-item-action list-group-item-success" data-toggle="list" href="#settings"
      role="tab">{{user.password}}</a>
    POSITION ID:<a class="list-group-item list-group-item-action list-group-item-success" data-toggle="list" href="#settings"
      role="tab">{{user.posid}}</a>
  </div>


  <div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col"><button type="button" class="btn btn-success btn-lg btn-block" routerLink="/NewR">Submit New Reimbursement
          Request</button></div>
          <div class="col"><button type="button" class="btn btn-success btn-lg btn-block" routerLink="/EditU">Profile Management</button></div>
          <div class="col"><button type="button" class="btn btn-success btn-lg btn-block" routerLink="/EmpV">View Current Reimbursements</button></div>
    </div>
  </div>


</div>